<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../images/icons/logo.png">
    <link rel="stylesheet" href="../../components/css/comp.css">
    <link rel="stylesheet" href="../../css/case.css">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Caso Resuelto - Simulador Aula</title>
</head>
<body>

    <div class="container">

        <img src="../../images/icons/etb.png" alt="">

        <input type="text" placeholder="Buscar...">

        <div class="callte">
            <img src="../../images/icons/calltec.png" alt="">
            <img src="../../images/icons/calltec2.png" alt="">
        </div>

        <div class="icons">
            <img src="../../images/icons/star.png" alt="">
            <img src="../../images/icons/plus.png" alt="">
            <img src="../../images/icons/got.png" alt="">
            <img src="../../images/icons/question.png" alt="">
            <img src="../../images/icons/bell.png" alt="">
            <img src="../../images/icons/user.png" alt="">
        </div>

    </div>

    <div class="line"></div>

    <div class="container-2">

        <img src="../../images/icons/menu.png" alt="">

        <p id="title">Consola de Servicios</p>

        <p id="par">Casos</p>

        <div id="arrow">
            <img src="../../images/icons/fot arrow.png" alt="">
        </div>

        <img id="par5" src="../../images/cases/folio2.png" alt="">
        <p id="par2"> 17887680 | Caso</p>

        <div class="com">
            <img id="par3" src="../../images/icons/fot arrow.png" alt="">
            <img id="par4" onclick="exit();" src="../../images/cases/x.png" alt="">
        </div>

        <div class="actions44">
            <img src="../../images/icons/speaker.png" alt="parlante-audio-etb" class="img-audio" id="img_editar_contac" onclick="alertAudio('au_menu2', 'img_editar_contac', 2, 7)">
            <audio id="au_menu2" class="audio" style="display: none;">
                <source type="audio/wav" src="../../../Model/audio/gsp4.mp3">
            </audio>
        </div>

    </div>

    <div class="principal-content">
        <div class="contentp-1">
            <img src="../../images/profile/folio.png" alt="">
            <p>Caso</p>
            <span>CAIDA TOTAL</span>
            <img id="plus2" src="../../images/cases/plus.png" alt=""><button id="plus">Seguir</button>
            <button>Modificar</button>
            <button>Eliminar</button>
            <button id="prop">Cambiar Propietario</button>
            <button id="arrow-b"><img src="../../images/icons/fot arrow.png" alt=""></button>
        </div>

    <div class="contentp-3">

            <div class="p4">
                <p>Detalles</p>
                <p id="not">Noticias en Tiempo Real</p>
                <p id="not">Agendar Visita</p>
                <p id="not">Ver Tareas Agendamiento</p>
            </div>

            <div class="line6"></div>
            <div class="line2"></div>

        <div class="card">

            <div class="p4">
                <p>Detalles</p>
            </div>

            <div class="line6"></div>
            <div class="line2"></div>

            <div class="tab">

                <div class="tab-one">
                    <table>
                        <tbody>
                            <tr class="bor">
                                <td>Numero del Caso</td>
                            </tr>

                            <tr class="bor">
                                <td>17874413</td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Caso Principal</td>
                            </tr>

                            <tr class="bor">
                                <td id="sec"></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Nombre de la cuenta</td>
                            </tr>

                            <tr class="bor">
                                <td><a href="">EMPRESA INTERNACIONAL DE COMERCIO ELECTRONICO <br> DROP LA CUAL PERMITE USAR SOLO LAS SIGLAS DROP</a></td>
                                <td id="im2"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Tipo de Atención</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Código único numérico-CUN</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Fecha de radicación</td>
                            </tr>

                            <tr class="bor">
                                <td>8/29/2024</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Servicio</td>
                            </tr>

                            <tr class="bor">
                                <td><a href="">AC-505383</a></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Dirección Intalación</td>
                            </tr>

                            <tr class="bor">
                                <td>CENTRO INTERNACIONAL SECTOR DE CLUBES PRESTIGIO <br> CERCA AL AEROPUERTO NACIONAL</td>
                                <td id="im2"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Ciudad Instalacion</td>
                            </tr>

                            <tr class="bor">
                                <td><a href="">BOGOTA D.C</a></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Categoria</td>
                            </tr>

                            <tr class="bor">
                                <td></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Gestionado por</td>
                            </tr>

                            <tr class="bor">
                                <td>Genialo</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <div class="tab-two">
                    <table>
                        <tbody>
    
                            <tr class="bor">
                                <td>Caso Principal</td>
                            </tr>

                            <tr class="bor">
                                <td id="sec"></td>
                                <td id="im"><img src="../../images/cases/load.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Propietario del caso</td>
                            </tr>

                            <tr class="bor">
                                <td><img src="../../images/icons/user.png" alt=""><a href="">Maria Alejandra Ariza Henao</a></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Esquema de Atención</td>
                            </tr>

                            <tr class="bor">
                                <td>CARTERIZADO <br> <span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Categoria</td>
                            </tr>

                            <tr class="bor">
                                <td>Incidente</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Ruta de Archivo</td>
                            </tr>

                            <tr class="bor">
                                <td><a href="">KLEYPALA</a></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Área final de Solución</td>
                            </tr>

                            <tr class="bor">
                                <td>ASC</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Envío a Cuadrilla</td>
                            </tr>

                            <tr class="bor">
                                <td><input type="checkbox"></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>ID Servicio</td>
                            </tr>

                            <tr class="bor">
                                <td id="sec2">IDL00CI1022710</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Integrar con Remedy</td>
                            </tr>

                            <tr class="bor">
                                <td><input type="checkbox" checked></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Categoria</td>
                            </tr>

                            <tr class="bor">
                                <td></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="p5">
                <img src="../../images/icons/fot arrow.png" alt="">
                <p>Información adicional</p>
            </div>

            <div class="tab">

                <div class="tab-one">
                    <table>
                        <tbody>
                            <tr class="bor">
                                <td>Número de Service Manager</td>
                            </tr>

                            <tr class="bor">
                                <td>ASC</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Origen del caso</td>
                            </tr>

                            <tr class="bor">
                                <td>Télefonico</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Plan</td>
                            </tr>

                            <tr class="bor">
                                <td><a href="">Plan Internet + Empresarial</a></td>
                                <td id="im2"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Fecha de Inicio Afectación<img id="info" src="../../images/cases/info.png" alt=""></td>
                            </tr>

                            <tr class="bor">
                                <td>8/29/2024 09:41 AM</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Fecha de Fin Afectación<img id="info" src="../../images/cases/info.png" alt=""></td>
                            </tr>

                            <tr class="bor">
                                <td></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Estimados Afectados<img id="info" src="../../images/cases/info.png" alt=""></td>
                            </tr>

                            <tr class="bor">
                                <td>1</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Modelo Comercial<img src="" alt=""></td>
                            </tr>

                            <tr class="bor">
                                <td></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Modelo Comercial</td>
                            </tr>

                            <tr class="bor">
                                <td></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>IMEI</td>
                            </tr>

                            <tr class="bor">
                                <td></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <div class="tab-two">
                    <table>
                        <tbody>

                            <tr class="bor">
                                <td>Estado</td>
                            </tr>

                            <tr class="bor">
                                <td>En Proceso</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Causal Estado</td>
                            </tr>

                            <tr class="bor">
                                <td>En Proceso</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Subcausal Estado</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Prioridad</td>
                            </tr>

                            <tr class="bor">
                                <td>Alta</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Pertinencia Horas</td>
                            </tr>

                            <tr class="bor">
                                <td></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Pertinencia Minutos</td>
                            </tr>

                            <tr class="bor">
                                <td></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Pertinencia Segundos</td>
                            </tr>

                            <tr class="bor">
                                <td></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="p5">
                <img src="../../images/icons/fot arrow.png" alt="">
                <p>Descripción</p>
            </div>

            <div class="tab">

                <div class="tab-three">
                    <table>
                        <tbody>
                            <tr class="bor">
                                <td>Asunto</td>
                            </tr>

                            <tr class="bor">
                                <td>CAIDA TOTAL</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Descripción</td>
                            </tr>

                            <tr class="bor">
                                <td>EMPRESA: EMPRESA INTERNACIONAL DE COMERCIO ELECTRONICO
                                    DROP LA CUAL PERMITE USAR SOLO LAS SIGLAS DROP <br>
                                    NIT: 845563541 <br>
                                    TIPO DE FALLA: caida <br>
                                    ID DEL SERVICIO EN FALLA: IDL00CI1022710 <br>
                                    NOMBRE PERSONAL QUIEN REPORTA: Estiven Gallego <br>
                                    TELEFONO QUIEN REPORTA: 3138241636 <br>
                                    DIRECCIÓN: CENTRO INTERNACIONAL SECTOR DE CLUBES PRESTIGIO
                                    CERCA AL AEROPUERTO NACIONAL <br>
                                    PERSONAL DE CONTACTO EN SITIO: Estiven Gallego <br>
                                    TELEFONO: 3175269841 <br>
                                    CORREO: <a href="">system32@email.com</a> <br>
                                    HORA: 7am 4pm l-v s 7am 12pm <br>
                                    PERMISO DE INGRESOS: SI/NO</td>
                                <td id="im3"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="p5">
                <img src="../../images/icons/fot arrow.png" alt="">
                <p>Datos del Contacto</p>
            </div>

            <div class="tab">

                <div class="tab-one">
                    <table>
                        <tbody>
                            <tr class="bor">
                                <td>Nombre del Contacto</td>
                            </tr>

                            <tr class="bor">
                                <td>Estiven Gallego</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Telefono del contacto</td>
                            </tr>

                            <tr class="bor">
                                <td><img src="../../images/cases/call.png" alt="">20325486</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Telefono móvil del contacto</td>
                            </tr>

                            <tr class="bor">
                                <td><img src="../../images/cases/call.png" alt="">(313) 824-1636</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <div class="tab-two">
                    <table>
                        <tbody>

                            <tr class="bor">
                                <td>Fax de Contacto</td>
                            </tr>

                            <tr class="bor">
                                <td>AMC100000</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Correo electronico del Contacto</td>
                            </tr>

                            <tr class="bor">
                                <td><a href="">system32@email.com</a></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Correo electronico Web</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="p5">
                <img src="../../images/icons/fot arrow.png" alt="">
                <p>Tipificación del caso</p>
            </div>

            <div class="tab">

                <div class="tab-three">
                    <table>
                        <tbody>
                            <tr class="bor">
                                <td>Fecha de Tipificación</td>
                            </tr>

                            <tr class="bor">
                                <td>8/29/2024 12:31 PM</td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Tipo de Caso</td>
                            </tr>

                            <tr class="bor">
                                <td>SOPORTE TECNICO</td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Proceso</td>
                            </tr>

                            <tr class="bor">
                                <td>CAIDA TOTAL</td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Agrupación</td>
                            </tr>

                            <tr class="bor">
                                <td>INTERRUPCIÓN</td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Tipología</td>
                            </tr>

                            <tr class="bor">
                                <td>CAIDA TOTAL</td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="p5">
                <img src="../../images/icons/fot arrow.png" alt="">
                <p>Descripción cierre del caso</p>
            </div>

            <div class="tab">

                <div class="tab-one">
                    <table>
                        <tbody>
                            <tr class="bor">
                                <td>Descripción Solución</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Fecha/Hora de cierre</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <div class="tab-two">
                    <table>
                        <tbody>

                            <tr class="bor">
                                <td>Causa Impuntualidad</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Área responsable (imputabilidad)</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Ajuste <img src="../../images/cases/info.png" alt=""></td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="p5">
                <img src="../../images/icons/fot arrow.png" alt="">
                <p>Sistema Legado</p>
            </div>

            <div class="tab">

                <div class="tab-one">
                    <table>
                        <tbody>
                            <tr class="bor">
                                <td>Sistema legado</td>
                            </tr>

                            <tr class="bor">
                                <td>Remedy</td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Grupo Aseguramiento</td>

                            </tr>

                            <tr class="bor">
                                <td><a href="">HD_PREMIUM_SILVER 4-006944</a></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Catologo</td>
                            </tr>

                            <tr class="bor">
                                <td>Portafolio Superior</td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Estado de envió  sistema legado</td>
                            </tr>

                            <tr class="bor">
                                <td>Exitoso</td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Intentos Sistema Legado</td>
                            </tr>

                            <tr class="bor">
                                <td>1</td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Estado de Sistema Legado</td>
                            </tr>

                            <tr class="bor">
                                <td>PENDIENTE</td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Fecha de Envio a Sistema Legado</td>
                            </tr>

                            <tr class="bor">
                                <td>8/29/2024 12:31 PM</td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Fecha de Resolucion Sistema Legado</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Solucion Sitema Legado</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <div class="tab-two">
                    <table>
                        <tbody>

                            <tr class="bor">
                                <td>Id Sistema Legado</td>
                            </tr>

                            <tr class="bor">
                                <td>INIC000014072322</td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Responsable Sistema Legado</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Sub Responsable</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>No Proveedor/Aliado<img src="../../images/cases/info.png" alt=""></td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                                <td id="im"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Categoría de Resolucion Nivel 1</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Categoría de Resolucion Nivel 2</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Categoría de Resolucion Nivel 3</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Categoría de Resolucion Nivel 4</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Categoría de Resolucion Nivel 5</td>
                            </tr>

                            <tr class="bor">
                                <td><span id="invi">i</span></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="p5">
                <img src="../../images/icons/fot arrow.png" alt="">
                <p>Información del Sistema</p>
            </div>

            <div class="tab">

                <div class="tab-one">
                    <table>
                        <tbody>
                            <tr class="bor">
                                <td>Creado por</td>
                            </tr>

                            <tr class="bor">
                                <td><img src="../../images/icons/user.png" alt=""><a href="">MARIA ALEJANDRA ARIZA HENAO</a> 8/29/2024 12:31 PM</td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <div class="tab-two">
                    <table>
                        <tbody>

                            <tr class="bor">
                                <td>Última modificación por</td>
                            </tr>

                            <tr class="bor">
                                <td><img src="../../images/icons/user.png" alt=""><a href="">MARIA ALEJANDRA ARIZA HENAO</a> 9/02/2024 8:40 AM</td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

        <div class="contentp-4">

            <script>
                var today = new Date();
                var day = today.getDate();
                var month = today.getMonth() + 1;
                var year = today.getFullYear();
                var hours = today.getHours();
                var minutes = today.getMinutes();
            </script>

            <div class="p6">
                <img src="../../images/cases/calendar.png" alt="">
                <span>Agendamientos (0)</span>
                <button id="fa"><img src="../../images/icons/fot arrow.png" alt=""></button>
            </div>

        </div>

        <div class="contentp-5">

            <div class="p12">
                <img src="../../images/profile/folio.png" alt="">
                <span>Casos Relacionados (0)</span>
                <button id="fa2"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 

        </div>

        <div class="contentp-6">

            <div class="p12">
                <img src="../../images/cases/tool2.png" alt="">
                <span>Actividades Abiertas (0)</span>
                <button id="fa3"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 

        </div>
        
        <div class="contentp-7">

            <div class="p12">
                <img src="../../images/cases/config.png" alt="">
                <span>Operaciones Comerciales (0)</span>
                <button id="fa4"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 

        </div>

        <div class="contentp-8">

            <div class="p12">
                <img src="../../images/cases/tool2.png" alt="">
                <span>Historial de Actividades (1)</span>
                <button id="fa5"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 

            <div class="p7">
                <a href="">Avance Correo</a>
                <button id="fa6"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 

            <div class="p8">
                <p>Nombre:</p>
                <p>Tarea:</p>
                <p>Fecha de vencimiento: <script>document.write(`${month}/${day}/${year}`)</script></p>
            </div> 

            <div class="p9">
                <button id="fa7"><img src="../../images/cases/check.png" alt=""></button>
            </div> 

            <div class="line"></div>

            <a id="sec39" href="">Ver Todos</a>

        </div>

        <div class="contentp-9">

            <div class="p12">
                <img src="../../images/cases/notes.png" alt="">
                <span>Notas (3+)</span>
                <button id="fa8"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 

            <div class="p9">
                <a href="">Seguimiento Remedy</a>
                <p>8/29/2024 12:31 pm por <a href="">MARIA ALEJANDRA ARIZA HENAO</a> <br>
                HDP Maria Ariza: Se envía correo al cliente con avances De: MARIA ALEJANDRA <br>
                ARIZA HENAO Enviado: jueves, 29 de agosto de 2024 12:31 Para:...</p>
            </div>
            
            <div class="line"></div>

            <div class="p9">
                <a href="">Seguimiento Remedy</a>
                <p>8/01/2024 10:40 am por <a href="">INTEGRA ETB</a> <br>
                Seguimiento hdp keypala / Quedamos a la espera de la confirmaci?n <br>
                personal de cofo</p>
            </div>

            <div class="line"></div>

            <div class="p9">
                <a href="">Seguimiento Remedy</a>
                <p>7/24/2024 08:59 am por <a href="">INTEGRA ETB</a> <br>
                Seguimiento hdp keypala / Ingenieros agradezco de su ayuda con avances de<br>
                caso helpdisk@BOCJUMP7700> ping 10.243.160.2 source 10.243.160.1...</p>
            </div>

            <div class="line"></div>

            <a id="sec39" href="">Ver Todos</a>

        </div>

        <div class="contentp-10">

            <div class="p12">
                <img src="../../images/cases/tool2.png" alt="">
                <span>Comentarios del Caso (0)</span>
                <button id="fa9"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 

        </div>

        <div class="contentp-11">

            <div class="p12">
                <img src="../../images/profile/folio.png" alt="">
                <span>Historial del Caso (3+)</span>
                <button id="fa10"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 

            <div class="p10">
                <p>Fecha:</p>
                <p>Campo:</p>
                <p>Usuario:</p>
                <p>Valor Original:</p>
                <p>Valor Nuevo:</p>
                <br>
                <p>Fecha:</p>
                <p>Campo:</p>
                <p>Usuario:</p>
                <p>Valor Original:</p>
                <p>Valor Nuevo:</p>
                <br>
                <p>Fecha:</p>
                <p>Campo:</p>
                <p>Usuario:</p>
                <p>Valor Original:</p>
                <p>Valor Nuevo:</p>
            </div>

            <div class="p11">
                <p>8/29/2024 12:31 PM</p>
                <p>Propietario del Caso</p>
                <a href="">MARIA ALEJANDRA ARIZA HENAO</a>
                <p>CARLOS ARMANDO ARAUJO CORTEZ</p>
                <p>Luis Fernando Alcala Romero</p>
                <br>
                <p>8/01/2024 10:40 AM</p>
                <p>Causal Estado</p>
                <a href="">Integra ETB</a>
                <p>Asignado</p>
                <p>En Proceso</p>
                <br>
                <p>7/24/2024 08:59 Am</p>
                <p>Estado</p>
                <a href="">Integra ETB</a>
                <p>Abierto</p>
                <p>En Proceso</p>
            </div>

            <div id="up4" class="line"></div>

            <a class="up5" id="sec39" href="">Ver Todos</a>

        </div>
        
        <div class="contentp-12">

            <div class="p13">
                <img src="../../images/cases/paper.png" alt="">
                <span>Archivos Adjuntos (2)</span>
                <button id="fa11"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div>

            <div class="p14">
                <img src="../../images/cases/photo.png" alt="">
                <a href="">Example photo</a>
                <p>ago 20, 2024 * 111KB * png</p>
            </div>

            <div class="p14">
                <img src="../../images/cases/photo.png" alt="">
                <a href="">Example photo</a>
                <p>ago 20, 2024 * 115KB * png</p>
            </div>

            <div class="line"></div>

            <a id="sec39" href="">Ver Todos</a>

        </div>

        <div class="contentp-13">

            <div class="p12">
                <img src="../../images/cases/house.png" alt="">
                <span>Retencion (0)</span>
                <button id="fa12"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 

        </div>

        <div class="contentp-14">
            <div class="p15">
                <img src="../../images/cases/tool.png" alt="">
                <span>LogTransacciones (3)</span>
                <button id="fa13"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 

            <div class="p7">
                <a href="">Envio Remedy Creacion Caso</a>
                <button id="fa15"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 

            <div class="p20">
                <p>Fecha de creación:</p>
                <p>Estado:</p>
            </div>

            <div class="p21">
                <p>8/29/2024 1:24 PM</p>
                <p>Realizado</p>
            </div>

            <div class="p7" id="rem1">
                <a href="">Envio Remedy Crear Nota</a>
                <button id="fa16"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 

            <div class="p20" id="rem3">
                <p>Fecha de creación:</p>
                <p>Estado:</p>
            </div>

            <div class="p21" id="rem4">
                <p>8/30/2024 9:04 AM</p>
                <p>Realizado</p>
            </div>

            <div class="p7" id="rem2">
                <a href="">Envio Remedy Create Incident Note</a>
                <button id="fa17"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 

            <div class="p20" id="rem5">
                <p>Fecha de creación:</p>
                <p>Estado:</p>
            </div>

            <div class="p21" id="rem6">
                <p>9/10/2024 4:44 PM</p>
                <p>Realizado</p>
            </div>

            <div id="up2" class="line"></div>

            <a class="up3" id="sec39" href="">Ver Todos</a>
            
        </div>

        <div class="contentp-15">

            <div class="p12">
                <img src="../../images/cases/mess.png" alt="">
                <span>Correos Electronicos (0)</span>
                <button id="fa14"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 

        </div>

    </div>

    <div class="footer-content">
        <div class="his">
            <img src="../../images/profile/thun.png" alt="">
            <p>Noticias en tiempo real de Chatter</p>
        </div>

        <div class="end-3">
            <button onclick="location.href='../../menus/menuPymes.html'">SALIR DE LA SIMULACIÓN</button>
        </div>
    </div>

    <div class="alert-flotante" id="alert-flotante" style="bottom: 50px;">
        <div class="etb-flotant etb-flotant-login" id="etb-flotant" style="bottom: 50px;">
            <img src="../../images/icons/ETB.svg" alt="">
        </div>
        <div class="mensaje-parlante msg-parl-log" id="mensaje-parlante" style="bottom: 50px;">
            <p id="text-msg-hab">
                <div class="lds-ellipsis" id="wait-text"><div></div><div></div><div></div><div></div></div>
            </p>
        </div>
    </div>

    <script src="../../bootstrap/jquery.js"></script>
    <script src="../../bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../bootstrap/typed.js"></script>
    <script src="../../../Controller/case/case.js"></script>
    <script src="../../../Controller/main/hablador.js"></script>
    <script>
        $( document ).ready(function() {
            habladorText('Cuando ingresas por primera vez a un caso, podras apreciar la interfaz de tipificación del mismo, donde encontraras datos importantes y de gestion, relacionados tanto con el cliente, como con su caso a resolver o resuelto como se ve reflejado en el estado de este, ademas que podramos encontrar informacion variada, como el propietario del caso, notas, descripciones, informacion de la hora de inicio y finalizacion de este, asi como tambien, ver la trazabilidad que este cliente a tenido con los asesores, si es que asi ha llegado a ser, este espacio lo desglozaremos mas, en las demas tipifiaciones, para salir presiona el icono con forma de X que se encuentra en la parte superior de la vista, cerca al caso.')
        });
    </script>
    
</body>
</html>