/* Fuente Perzonalida */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');
/* Fuente Perzonalida */

/* Variables de Colores */
:root{
    --orange-etb: #F36F31;
    --bgray-etb: #d8dde6;
    --gray-etb: #f4f6f9;
    --withe-etb: #fff;
    --bblue-etb: #0070d2;
    --b2blue-etb: #0070d1;
    --pblue-etb: #54698d;
    --black-etb: #000 ;
    --b2gray-etb: #969492;
    --b3gray-etb: #f7f7f7;
    --purpple-etb:  #a31aff;
    --red-etb:  #d40000;
    --yelow-etb: #fff6c2;
}
/* Variables de Colores */

body{
    overflow-x: hidden;
}

/* Contenedor del Modal Uno */
.modal-one{
    position: relative;
    left: 750px;
    top: 100px;
    border: 1px solid var(--bgray-etb);
    width: 600px;
    height: 360px;
}
.modal-header p{
    font-size: 14px;
    background-color: var(--withe-etb);
}
.modal-body{
    background-color: var(--b3gray-etb);
    height: 300px;
}
.block{
    background-color: var(--withe-etb);  
    border: 1px solid var(--bgray-etb); 
    display: flex;
    position: relative;
    top: 30px;
    left: 40px; 
    width: 520px;
    height: 250px;
    font-size: 14px;
}
.block h5{
    position: relative;
    top: 25px;
    margin-left: 15px;
    font-size: 18px;
}
.block p{
    margin-left: 15px;
}
.bu{
    background-color: var(--b2blue-etb);
    width: 80px;
    height: 248px;
}
.bu img{
    width: 55px;
    height: 55px;
    margin: 10px 0 0 12px;
}
.modal-footer{
    background-color: var(--b3gray-etb);
    border-bottom: 1px solid var(--bgray-etb); 
    height: 40px;
}
.fot{
    margin-left: 40px;
}
.fot select{
    background-color: var(--b3gray-etb);
}
.fot button{
    width: 90px;
    position: relative;
    left: 137px;
}
#clos{
    cursor: pointer;
    border: 2px solid var(--bblue-etb);
}
/* Contenedor del Modal Uno */

/* Contenedor del Modal Dos */
.modal-two{
    position: relative;
    left: 700px;
    top: 40px;
    border: 1px solid var(--bgray-etb);
    width: 700px;
    height: 580px;
}
.modal-header2 {
    display: flex;
}
.modal-header2 img{
    width: 15px;
    height: 15px;
    margin-top: 4px;
}
.modal-header2 p{
    font-size: 14px;
    background-color: var(--withe-etb);
}
.modal-body2{
    background-color: var(--b3gray-etb);
    height: 520px;
}
.mod1{
    display: flex;
    margin-left: 25px;
    position: relative;
    top: 15px;
}
.mod1 p{
    margin: 0 15px 0 25px;
}
.mod1 select{
    width: 200px;
}
.mod1 input{
    width: 70px;
}
.mod2{
    border: 1px solid var(--b2gray-etb);
    width: 495px;
    height: 430px;
    margin-top: 50px;
    margin-left: 35px;
}
.mod2 p{
    position: relative;
    bottom: 14px;
    left: 5px;
    background-color: var(--b3gray-etb);
    width: 70px;
}
.mod3{
    position: relative;
    bottom: 385px;
    margin-left: 70px;
}
.mod4{
    display: flex;
    margin-top: 15px;
}
.mod4 p{
    margin-left: 77px;
    margin-right: 25px;
    font-size: 12.6px;
}
.mod4 button{
    width: 85px;
}
.mod4 select{
    background-color: var(--b2gray-etb);
}
#por1{
    position: relative;
    left: 15px;
    width: 185px;
}
#por2{
    width: 185px;
}
#por3{
    position: relative;
    left: 43px;
    width: 185px;
}
#por4{
    position: relative;
    left: 40px;
    width: 300px;
}
#por44 , #por4{
    margin-top: 45px;
}
#por5{
    position: relative;
    left: 44px;
    width: 300px;
}
#por6{
    position: relative;
    left: 35px;
    width: 245px;
}
#port1{
    position: relative;
    left: 50px;
}
#port2{
    position: relative;
    left: 35px;
}
#port3{
    position: relative;
    left: 77px;
}
#port4{
    background-color: var(--b2gray-etb);
    border: 1px solid var(--black-etb);
    border-radius: 2px;
    position: relative;
    left: 458px;
    bottom: 23px;
    width: 40px;
}
#port5{
    position: relative;
    left: 130px;
}
#port6{
    position: relative;
    left: 130px;
}
.modal-footer2{
    background-color: var(--b3gray-etb);
    border-bottom: 1px solid var(--bgray-etb); 
    height: 40px;
}
.fot2{
    display: grid;
    margin-left: 40px;
}
.fot2 select{
    background-color: var(--b3gray-etb);
}
.fot2 button{
    width: 90px;
    position: relative;
    left: 540px;
    bottom: 530px;
}
#clos{
    cursor: pointer;
    border: 2px solid var(--bblue-etb);
}
#clos2{
    cursor: pointer;
    margin-top: 10px;
}
#clos3{
    margin-top: 10px;
}
#clos4{
    margin-top: 410px;
}
/* Contenedor del Modal Dos */
/* Contenedor del Menu Two */
.menu-two{
    position: relative;
    left: 670px;
    bottom: 520px;
    border: 1px solid var(--bgray-etb);
    width: 550px;
    z-index: 1;
}
.menu-header {
    background-color: var(--withe-etb);
    display: flex;
}
.menu-header p{
    font-size: 14px;
    background-color: var(--withe-etb);
}
.menu-header img{
    width: 15px;
    height: 15px;
    margin-top: 4px;
}
.menu-body2{
    background-color: var(--b3gray-etb);
    height: 280px;
}
.mod222{
    display: flex;
    border: 1px solid var(--b2gray-etb);
    width: 375px;
    height: 240px;
    margin-top: 40px;
    margin-left: 35px;
}
.mod222 p{
    position: relative;
    bottom: 12px;
    left: 10px;
    background-color: var(--b3gray-etb);
    width: 140px;
    height: 24px;
    font-size: 12px;
}
#w2{
    border-right: 1px solid var(--b2gray-etb);
}
.mod333{
    position: relative;
    width: 215px;
    height: 190px;
    bottom: 220px;
    margin-left: 50px;
    background-color: var(--withe-etb);
    z-index: 1;
}
li{
    list-style: none;
}
.lis{
    text-align: left;
    font-size: 14.2px;
    margin-left: 5px;
}
.menu-footer{
    background-color: var(--b3gray-etb);
    border-bottom: 1px solid var(--bgray-etb); 
    height: 40px;
}
#sho2{
    display: grid;
    position: relative;
    top: 195px;
    right: 140PX;
}
#sho3{
    display: grid;
    position: relative;
    bottom: 10px;
}
.fot33{
    display: grid;
    margin-left: 40px;
}
.fot33 select{
    width: 270px;
}
.fot33 button{
    width: 90px;
    position: relative;
    left: 400px;
    bottom: 420px;
}
#clos1{
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid var(--bblue-etb);
}
#clos22{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 50px;
}
#clos777{
    position: relative;
    left: 300px;
    top: 38px;
    background-color: var(--b2gray-etb);
    border: 1px solid var(--black-etb);
    width: 40px;
}
#zo{
    cursor: pointer;
}
#invi{
    color: transparent
}
/* Contenedor del Menu Two */

/* Contenedor del Modal Tres */
.modal-three{
    position: relative;
    left: 580px;
    top: 40px;
    border: 1px solid var(--bgray-etb);
    width: 800px;
    height: 580px;
}
.modal-header3 {
    display: flex;
}
.modal-header3 img{
    width: 15px;
    height: 15px;
    margin-top: 4px;
}
.modal-header3 p{
    font-size: 14px;
    background-color: var(--withe-etb);
}
.modal-body3{
    background-color: var(--b3gray-etb);
    height: 520px;
}
.mod1{
    display: flex;
    margin-left: 25px;
    position: relative;
    top: 15px;
}
.mod1 p{
    margin: 0 15px 0 25px;
}
.mod1 select{
    width: 200px;
}
.mod1 input{
    width: 70px;
}
.mod22{
    display: flex;
    border: 1px solid var(--b2gray-etb);
    width: 602px;
    height: 430px;
    margin-top: 50px;
    margin-left: 35px;
}
.mod22 p{
    position: relative;
    bottom: 25px;
    right: 1px;
    background-color: var(--b3gray-etb);
    width: 150px;
    height: 24px;
    font-size: 12px;
    border-left: 1px solid var(--b2gray-etb);
    border-top: 1px solid var(--b2gray-etb);
    padding-left: 10px;
}
#w1{
    background-color: var(--withe-etb);
    height: 26px;
}
#w2{
    border-right: 1px solid var(--b2gray-etb);
}
.mod33{
    position: relative;
    width: 600px;
    height: 427px;
    bottom: 429px;
    margin-left: 36px;
    background-color: var(--withe-etb);
    z-index: 1;
}
.modal-footer3{
    background-color: var(--b3gray-etb);
    border-bottom: 1px solid var(--bgray-etb); 
    height: 40px;
}
#sho{
    position: relative;
    bottom: 30px;
    font-size: 14px;
}
.fot3{
    display: grid;
    margin-left: 40px;
}
.fot3 select{
    background-color: var(--b3gray-etb);
}
.fot3 button{
    width: 90px;
    position: relative;
    left: 640px;
    bottom: 530px;
}
#clos1{
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid var(--bblue-etb);
}
#clos22{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 50px;
}
#clos33{
    margin-top: 10px;
}
#clos44{
    margin-top: 240px;
}
#clos555{
    position: relative;
    left: 402px;
    bottom: 553px;
}
#clos666{
    position: relative;
    left: 0px;
    bottom: 576px;
}
#clos5555{
    position: relative;
    left: 402px;
    bottom: 268px;
}
#clos6666{
    position: relative;
    left: 0px;
    bottom: 291px;
}
#clos66666{
    position: relative;
    margin-left: 15px;
}
#cur{
    cursor: pointer;
}
.cur{
    cursor: pointer;
    z-index: 1;   
}
/* Contenedor del Modal Tres */

/* Contenedor del Menu Three */
.menu-three{
    position: relative;
    left: 740px;
    bottom: 790px;
    border: 1px solid var(--bgray-etb);
    width: 380px;
    z-index: 1;
}
.menu-header {
    background-color: var(--withe-etb);
    display: flex;
}
.menu-header p{
    font-size: 14px;
    background-color: var(--withe-etb);
}
.menu-header img{
    width: 15px;
    height: 15px;
    margin-top: 4px;
}
.menu-body3{
    background-color: var(--b3gray-etb);
    height: 90px;
}
.md2{
    display: flex;    
    border: 1px solid var(--b2gray-etb);    
    width: 535px;   
    height: 370px;    
    margin-top: 30px;    
    margin-left: 35px;
}
.md2 p{
    position: relative;
    bottom: 12px;
    left: 10px;
    background-color: var(--withe-etb);
    width: 105px;
    height: 24px;
    font-size: 12px;
}
.md222222{
    display: flex;
    border: 1px solid var(--b2gray-etb);
    width: 205px;
    height: 60px;
    margin-top: 30px;
    margin-left: 35px;
}
.md222222 p{
    position: relative;
    bottom: 12px;
    left: 10px;
    background-color: var(--withe-etb);
    width: 105px;
    height: 24px;
    font-size: 12px;
}
/* 
.mod44444444{
    position: relative;
    bottom: 380px;
    height: 200px;
}
*/
.md3{
    position: relative;
    width: 215px;
    height: 190px;
    bottom: 45px;
    margin-left: 50px;
    z-index: 1;
}
.menu-footer{
    background-color: var(--b3gray-etb);
    border-bottom: 1px solid var(--bgray-etb); 
    height: 40px;
}
#sho4{
    display: grid;
    position: relative;
    top: 345px;
    right: 170px;
}
.fot33{
    display: grid;
    margin-left: 40px;
}
.fot33 select{
    width: 270px;
}
.fot33 button{
    width: 90px;
    position: relative;
    left: 400px;
    bottom: 420px;
}
#clos1{
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid var(--bblue-etb);
}
#clos22{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 50px;
}
#clos777{
    position: relative;
    left: 300px;
    top: 38px;
    background-color: var(--b2gray-etb);
    border: 1px solid var(--black-etb);
    width: 40px;
}
#zo{
    cursor: pointer;
}
#invi{
    color: transparent
}
/* Contenedor del Menu Three */

/* Contenedor del Modal Cuatro */
.modal-four{
    position: relative;
    left: 580px;
    top: 40px;
    border: 1px solid var(--bgray-etb);
    width: 800px;
    height: 580px;
}
.modal-header4 {
    display: flex;
    background-color: var(--withe-etb);
}
.modal-header4 img{
    width: 15px;
    height: 15px;
    margin-top: 4px;
}
.modal-header4 p{
    font-size: 14px;
    background-color: var(--withe-etb);
}
.modal-body4{
    background-color: var(--b3gray-etb);
    height: 520px;
}
.mod22222{
    display: flex;
    border: 1px solid var(--b2gray-etb);
    width: 602px;
    height: 430px;
    margin-top: 50px;
    margin-left: 35px;
    background-color: var(--withe-etb);
}
.mod22222 p{
    position: relative;
    bottom: 25px;
    right: 1px;
    background-color: var(--b3gray-etb);
    width: 150px;
    height: 24px;
    font-size: 12px;
    border-left: 1px solid var(--b2gray-etb);
    border-top: 1px solid var(--b2gray-etb);
    padding-left: 10px;
}
#w3{
    background-color: var(--withe-etb);
    height: 26px;
    border-right: 1px solid var(--b2gray-etb);
    cursor: pointer;
}
.mod33333{
    position: relative;
    width: 600px;
    bottom: 429px;
    margin-left: 36px;
    z-index: 1;
}
#tab{
    text-align: left;
    font-size: 15px;
}
#tab th{
    font-weight: 500;
    border: 1px solid var(--b2gray-etb);
    padding-left: 15px;
}
#th1{
    padding-right: 21px;
}
#th2{
    padding-left: 45px;
    width: 125px;
}
#tab img{
    width: 10px;
    height: 10px;
}
#tab td{
    text-align: left;
    padding-left: 12px;
}
#tr1{
    background-color: var(--bblue-etb);
    color: var(--withe-etb);
    cursor: pointer;
}
#tr2, #tr3, #tr4, #tr5, #tr6, #tr7, #tr8, #tr9{
    cursor: pointer;
}
.edi{
    cursor: pointer;
}
.modal-footer4{
    background-color: var(--b3gray-etb);
    border-bottom: 1px solid var(--bgray-etb); 
    height: 40px;
}
#sho{
    position: relative;
    bottom: 30px;
    font-size: 14px;
}
.fot3{
    display: grid;
    margin-left: 40px;
}
.fot3 select{
    background-color: var(--b3gray-etb);
}
.fot3 button{
    width: 90px;
    position: relative;
    left: 640px;
    bottom: 530px;
}
#clos1{
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid var(--bblue-etb);
}
#clos222{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 50px;
    border: 2px solid var(--bblue-etb);
}
#clos333{
    margin-top: 10px;
}
/* Contenedor del Modal Cuatro */

/* Contenedor del Modal Cinco */
.modal-five{
    position: relative;
    left: 1066px;
    bottom: 464px;
    width: 250px;
    height: 20px;
    z-index: 1;
}
.modal-body5{
    background-color: var(--b3gray-etb);
    border: 1px solid var(--bgray-etb);
}
.modal-body5 p{
    padding-left: 45px;
    cursor: pointer;
}
/* Contenedor del Modal Cinco */

/* Contenedor del Modal Seis */
.modal-six{
    position: relative;
    left: 580px;
    top: 40px;
    border: 1px solid var(--bgray-etb);
    width: 800px;
    height: 580px;
}
.modal-body6{
    background-color: var(--b3gray-etb);
    height: 520px;
}
.modal-footer6{
    background-color: var(--b3gray-etb);
    border-bottom: 1px solid var(--bgray-etb); 
    height: 40px;
}
/* Contenedor del Modal Seis */

/* Contenedor del Modal Siete */
.modal-seven{
    position: relative;
    left: 580px;
    top: 40px;
    border: 1px solid var(--bgray-etb);
    width: 675px;
    height: 563px;
}
.modal-body7{
    background-color: var(--b3gray-etb);
    height: 500px;
}
.mod44444{
    position: relative;
    bottom: 305px;
}
.md4, .md44, .md55, .md5, .md6, .md7{
    font-size: 12px;
} 
.md4{
    display: flex;
    position: relative;
    bottom: 40px;
    justify-content: space-evenly;
    margin-left: 30px;
}
.md5{
    position: relative;
    bottom: 10px;
    margin-left: 65px;
}
#ssh{
    width: 380px;
}
#try{
    position: relative;
    left: 67px;
    bottom: 10px;
}
.md6{
    display: flex;
    position: relative;
    top: 40px;
    margin-left: 65px;
}
.md6 input{
    width: 140px;
}
#port44{
    background-color: var(--b2gray-etb);
    border: 1px solid var(--black-etb);
    border-radius: 2px;
    position: relative;
    margin-left: 10px;
    width: 40px;
}
#ssh2{
    margin-left: 30px;
}
.md7{
    position: relative;
    top: 80px;
    margin-left: 65px;
    display: flex;
}
.md7 p{
    margin-right: 2px;
}
.md7 textarea{
    height: 100px;
    margin-right: 10px;
}
.md8{
    display: grid;
    font-size: 11px;
}
.modal-footer7{
    background-color: var(--b3gray-etb);
    border-bottom: 1px solid var(--bgray-etb); 
    height: 40px;
}
.fot333{
    display: grid;
    margin-left: 40px;
}
.fot333 button{
    width: 90px;
    position: relative;
    left: 507px;
    bottom: 245px;
}
/* Contenedor del Modal Siete */

/* Contenedor del Modal Ocho */
.modal-eight{
    position: relative;
    left: 580px;
    top: 40px;
    border: 1px solid var(--bgray-etb);
    width: 675px;
    height: 563px;
}
.modal-body7{
    background-color: var(--b3gray-etb);
    height: 500px;
}
.mod333333{
    position: relative;
    width: 600px;
    bottom: 429px;
    margin-left: 36px;
    z-index: 1;
}
.mod444444{
    position: relative;
    bottom: 60px;
    height: 200px;
}
.md22{
    display: flex;
    border: 1px solid var(--b2gray-etb);
    width: 535px;
    height: 100px;
    margin-top: 30px;
    margin-left: 35px;
}
.md22 p{
    position: relative;
    bottom: 12px;
    left: 10px;
    background-color: var(--withe-etb);
    width: 53px;
    height: 24px;
    font-size: 12px;
} 
.md44{
    display: flex;
    position: relative;
    bottom: 20px;
    justify-content: space-evenly;
    margin-left: 30px;
}
.md44 img{
    width: 20px;
    height: 20px;
}
#pot{
    width: 50px;
    height: 20px;
    border: 1px solid var(--black-etb);
    position: relative;
    top: 2px;
    right: 30px;
}
#pot2{
    margin-left: 20px;
}
.md4 img{
    width: 20px;
    height: 20px;
    border: 1px solid var(--black-etb);
}
.md222{
    display: flex;
    border: 1px solid var(--b2gray-etb);
    width: 535px;
    height: 250px;
    margin-top: 30px;
    margin-left: 35px;
    position: relative;
    bottom: 200px;
}
.md222 p{
    position: relative;
    bottom: 12px;
    left: 10px;
    background-color: var(--withe-etb);
    width: 70px;
    height: 24px;
    font-size: 12px;
}
.mod4444444{
    position: relative;
    bottom: 380px;
    height: 200px;
}
#auto{
    position: relative;
    top: 18px;
    right: 44px;
    width: 245px;
}
#pot3{
    width: 40px;
}
#pot4{
    position: relative;
    right: 14px;
}
#pot5{
    width: 245px;
}
#pot6{
    position: relative;
    right: 24px;
}
#pot7{
    position: relative;
    width: 144px;
}
/* Contenedor del Modal Ocho */

/* Contenedor del Modal Nueve */
.modal-nine{
    position: relative;
    left: 20px;
    bottom: 55px;
    width: 250px;
    height: 20px;
    z-index: 1;
}
.modal-body5{
    background-color: var(--b3gray-etb);
    border: 1px solid var(--bgray-etb);
}
.modal-body5 p{
    padding-left: 45px;
    cursor: pointer;
}
/* Contenedor del Modal Nueve */

/* Contenedor del Modal Diez */
.modal-ten{
    position: relative;
    left: 580px;
    top: 40px;
    border: 1px solid var(--bgray-etb);
    width: 865px;
    height: 563px;
}
.md10{
    background-color: var(--withe-etb);
    margin-top: 35px;
    margin-left: 25px;
    width: 200px;
    height: 430px;
    font-size: 14px;
    border: 1px solid var(--b2gray-etb);
}
.md9{
    position: relative;
    left: 190px;
    bottom: 456px;
}
#user{
    color: var(--withe-etb);
    background-color: var(--b2blue-etb);
    width: 720px;
}
.mod4444444{
    position: relative;
    bottom: 330px;
    height: 200px;
    margin-left: 35px;
}
#list{
    position: relative;
    bottom: 390px;
    height: 200px;
    margin-left: 35px;
}
#lis2{
    margin-left: 15px;
}
#lis{
    border: 1px solid var(--b2gray-etb);
    width: 360px;
    height: 280px;
}
.mod4444444 img{
    width: 15px;
    height: 15px;
}
.md2222{
    display: flex;
    border: 1px solid var(--b2gray-etb);
    width: 555px;
    height: 360px;
    margin-top: 50px;
    margin-left: 20px;
}
.md2222 p{
    position: relative;
    bottom: 12px;
    left: 10px;
    background-color: var(--withe-etb);
    width: 75px;
    height: 24px;
    font-size: 12px;
} 
#pal{
    position: relative;
    top: 7px;
    margin-left: 5px;
}
.mod222222{
    display: flex;
    border: 1px solid var(--b2gray-etb);
    width: 602px;
    height: 406px;
    margin-top: 50px;
    margin-left: 35px;
    background-color: var(--withe-etb);
}
.mod222222 p{
    position: relative;
    bottom: 25px;
    right: 1px;
    background-color: var(--b3gray-etb);
    width: 150px;
    height: 24px;
    font-size: 12px;
    border-left: 1px solid var(--b2gray-etb);
    border-top: 1px solid var(--b2gray-etb);
    padding-left: 10px;
}
.fot3333{
    display: grid;
    margin-left: 40px;
}
.fot3333 button{
    width: 90px;
    position: relative;
    left: 630px;
    bottom: 385px;
}
.fob{
    display: flex;
    position: relative;
    top: 120px;
    right: 262px;
}
#clos666{
    position: relative;
    margin-left: 15px;
}
.fob2{
    position: relative;
    right: 397px;
}
/* Contenedor del Modal Diez */

/* Contenedor del Modal Once */
.modal-eleven{
    position: relative;
    left: 680px;
    bottom: 400px;
    border: 1px solid var(--bgray-etb);
    width: 665px;
    height: 383px;
    z-index: 1;
}
.modal-body8{
    background-color: var(--b3gray-etb);
    height: 320px;
}
.md11{
    position: relative;
    left: 190px;
    bottom: 156px;
}
.md22222{
    display: flex;
    border: 1px solid var(--b2gray-etb);
    width: 490px;
    height: 300px;
    position: relative;
    top: 610px;
    right: 200px;
}
.md22222 p{
    position: relative;
    bottom: 12px;
    left: 10px;
    background-color: var(--b3gray-etb);
    width: 110px;
    height: 24px;
    font-size: 12px;
} 
.md55{
    position: relative;
    top: 340px;
    justify-content: space-evenly;
    right: 180px;
}
.md55 img{
    width: 20px;
    height: 20px;
}
#se{
    background-color: var(--b2gray-etb);
    width: 450px;
}
.cet{
    display: flex;
}
#pot8{
    width: 50px;
    height: 20px;
    border: 1px solid var(--black-etb);
    position: relative;
    top: 3px;
    left: 20px;
}
#pot9{
    width: 230px;
}
.md66{
    position: relative;
    top: 370px;
    right: 180px;
}
#pot10{
    width: 320px;
}
.fot33333{
    display: grid;
    margin-left: 40px;
}
.fot33333 button{
    width: 90px;
    position: relative;
    left: 505px;
    bottom: 315px;
}
/* Contenedor del Modal Once */

/* Contenedor del Modal Doce */
.modal-twelve{
    position: relative;
    left: 1146px;
    bottom: 550px;
    width: 250px;
    height: 20px;
    z-index: 1;
}
.modal-body5{
    background-color: var(--b3gray-etb);
    border: 1px solid var(--bgray-etb);
}
.modal-body5 p{
    padding-left: 45px;
    cursor: pointer;
}
/* Contenedor del Modal Doce */

/* Contenedor del Modal Trece */
.modal-thirteen{
    position: relative;
    left: 1396px;
    bottom: 800px;
    width: 250px;
    height: 20px;
    z-index: 1;
}
.modal-body5{
    background-color: var(--b3gray-etb);
    border: 1px solid var(--bgray-etb);
}
.modal-body5 p{
    padding-left: 45px;
    cursor: pointer;
}
/* Contenedor del Modal Trece */

/* Contenedor de las Guias */
.fle img{
    height: 45px;
    width: 45px;
    animation: shake 2s infinite;
    position: relative;
    left: 1145px;
    bottom: 1170px;
    z-index: 1;
}
@keyframes shake {

    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }

}
.fle2 img{
    height: 45px;
    width: 45px;
    animation: shake 2s infinite;
    position: relative;
    left: 1275px;
    bottom: 1160px;
    z-index: 1;
}
@keyframes shake {

    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }

}
.fle3 img{
    height: 45px;
    width: 45px;
    animation: shake 2s infinite;
    position: relative;
    left: 1080px;
    bottom: 1455px;
    z-index: 1;
}
@keyframes shake {

    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }

}
.fle4 img{
    height: 45px;
    width: 45px;
    animation: shake 2s infinite;
    position: relative;
    left: 1125px;
    bottom: 1575px;
    z-index: 1;
}
@keyframes shake {

    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }

}
.fle5 img{
    height: 45px;
    width: 45px;
    animation: shake 2s infinite;
    position: relative;
    left: 1235px;
    bottom: 1092px;
    z-index: 1;
}
@keyframes shake {

    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }

}
.fle6 img{
    height: 45px;
    width: 45px;
    animation: shake 2s infinite;
    position: relative;
    left: 1190px;
    bottom: 1162px;
    z-index: 1;
}
@keyframes shake {

    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }

}
.fle7 img{
    height: 45px;
    width: 45px;
    animation: shake 2s infinite;
    position: relative;
    left: 1190px;
    bottom: 1162px;
    z-index: 1;
}
@keyframes shake {

    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }

}
/* Contenedor de las Guias */

/* Contenedor de las Guias */
.fle8 img{
    height: 45px;
    width: 45px;
    animation: shake 2s infinite;
    position: relative;
    left: 1235px;
    bottom: 975px;
    z-index: 0;
}
@keyframes shake {

    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }

}
.fle9 img{
    height: 45px;
    width: 45px;
    animation: shake 2s infinite;
    position: relative;
    left: 1375px;
    bottom: 1040px;
    z-index: 1;
}
@keyframes shake {

    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }

}
.fle10 img{
    height: 45px;
    width: 45px;
    animation: shake 2s infinite;
    position: relative;
    left: 625px;
    bottom: 1070px;
    z-index: 1;
}
@keyframes shake {

    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }

}
.fle11 img{
    height: 45px;
    width: 45px;
    animation: shake 2s infinite;
    position: relative;
    left: 655px;
    bottom: 995px;
    z-index: 1;
}
@keyframes shake {

    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }

}
.fle12 img{
    height: 45px;
    width: 45px;
    animation: shake2 2s infinite;
    position: relative;
    left: 18px;
    bottom: 720px;
    z-index: 1;
}
@keyframes shake2 {

    0%, 100% { transform: translateY(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateY(-5px); }
    20%, 40%, 60%, 80% { transform: translateY(5px); }

}
.fle13 img{
    height: 45px;
    width: 45px;
    animation: shake2 2s infinite;
    position: relative;
    left: 88px;
    bottom: 705px;
    z-index: 1;
}
@keyframes shake2 {

    0%, 100% { transform: translateY(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateY(-5px); }
    20%, 40%, 60%, 80% { transform: translateY(5px); }

}
.fle14 img{
    height: 45px;
    width: 45px;
    animation: shake 2s infinite;
    position: relative;
    left: 1355px;
    bottom: 1020px;
    z-index: 1;
}
@keyframes shake {

    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }

}
.fle15 img{
    height: 45px;
    width: 45px;
    animation: shake 2s infinite;
    position: relative;
    left: 1195px;
    bottom: 1285px;
    z-index: 1;
}
@keyframes shake {

    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }

}
.fle16 img{
    height: 45px;
    width: 45px;
    animation: shake 2s infinite;
    position: relative;
    left: 1120px;
    bottom: 1245px;
    z-index: 1;
}
@keyframes shake {

    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }

}
.fle17 img{
    height: 45px;
    width: 45px;
    animation: shake 2s infinite;
    position: relative;
    left: 1340px;
    bottom: 1394px;
    z-index: 1;
}
@keyframes shake {

    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }

}
/* Contenedor de las Guias */