<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../images/icons/logo.png">
    <link rel="stylesheet" href="../../components/css/comp.css">
    <link rel="stylesheet" href="../../css/case.css">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Tramite Movil Gestion - Simulador Aula</title>
</head>
<body>

    <div class="container">

        <img src="../../images/icons/logo.png" alt="">

        <div class="callte">
            <img src="../../images/icons/calltec.png" alt="">
            <img src="../../images/icons/calltec2.png" alt="">
        </div>

        <input type="text" placeholder="Buscar...">

        <div class="icons">
            <img src="../../images/icons/star.png" alt="">
            <img src="../../images/icons/plus.png" alt="">
            <img src="../../images/icons/got.png" alt="">
            <img src="../../images/icons/question.png" alt="">
            <img src="../../images/icons/bell.png" alt="">
            <img src="../../images/icons/user.png" alt="">
        </div>

    </div>

    <div class="line"></div>

    <div class="container-2">

        <img src="../../images/icons/menu.png" alt="">

        <p id="title">Consola de Servicios</p>

        <p id="par">Casos</p>

        <div id="arrow">
            <img src="../../images/icons/fot arrow.png" alt="">
        </div>

        <img id="par5" src="../../images/cases/folio2.png" alt="">
        <p id="par2"> 17881363 | Caso</p>

        <div class="com">
            <img id="par3" src="../../images/icons/fot arrow.png" alt="">
            <img id="par4" onclick="exit();" src="../../images/cases/x.png" alt="">
        </div>

        <div class="actions44">
            <img src="../../images/icons/speaker.png" alt="parlante-audio-etb" class="img-audio" id="img_editar_contac" onclick="alertAudio('au_menu2', 'img_editar_contac', 2, 7)">
            <audio id="au_menu2" class="audio" style="display: none;">
                <source type="audio/wav" src="../../../Model/audio/gsd4.mp3">
            </audio>
        </div>

    </div>

    <div id="PartI" class="principal-content">
        <div class="contentp-1">
            <img src="../../images/profile/folio.png" alt="">
            <p>Caso</p>
            <span>17881363</span>
            <img id="plus2" src="../../images/cases/plus.png" alt=""><button id="plus">Seguir</button>
            <button>Modificar</button>
            <button>Eliminar</button>
            <button id="prop">Cambiar Propietario</button>
            <button id="arrow-b"><img src="../../images/icons/fot arrow.png" alt=""></button>
        </div>

        <div class="contentp-2">
            <div class="p1">
                <p>Origen del Caso</p>
                <p>Canal Whatsapp Hogares</p>
            </div>

            <div class="p2">
                <p>Prioridad</p>
                <p>Media</p>
            </div>

            <div class="p3">
                <p>Estado</p>
                <p>Resuelto</p>
            </div>
        </div>

        <div class="contentp-3-2">

            <div class="p4">
                <p>Detalles</p>
                <p id="not">Noticias en Tiempo Real</p>
            </div>

            <div class="line6"></div>
            <div class="line2"></div>

            <div class="p5">
                <img src="../../images/icons/fot arrow.png" alt="">
                <p>Información del Caso</p>
            </div>

            <div class="tab">

                <div class="tab-one">
                    <table>
                        <tbody>
                            <tr class="bor3">
                                <td>Numero del Caso</td>
                                <td id="sec">17876077</td>
                            </tr>

                            <tr class="bor3">
                                <td>Nombre</td>
                                <td id="sec2"><input id="name" type="text" required></td>
                            </tr>
                            
                            <tr class="bor3">
                                <td>Tipo de Documento</td>
                                <td id="sec40"><select name="" id="">
                                    <option value="">Selecciona...</option>
                                    <option value="">Cedula de Extranjeria</option>
                                    <option value="">Cedula de Ciudadania</option>
                                    <option value="">Pasaporte</option>
                                </select></td>
                            </tr>
                            
                            <tr class="bor3">
                                <td>Celular</td>
                                <td id="sec3"><input id="number" type="text" required></td>
                            </tr>
                            
                            <tr class="bor3">
                                <td>Codigo unico numérico- CUN</td>
                                <td id="sec41"><input type="text"></td>
                            </tr>
                            
                            <tr class="bor3">
                                <td>Segmento</td>
                                <td id="sec4"><select name="" id="">
                                    <option value="">Masivo</option>
                                </select></td>
                            </tr>
                            
                            <tr class="bor3">
                                <td>Tecnologia</td>
                                <td id="sec5"><select name="" id="">
                                    <option value="">No Aplica</option>
                                </select></td>
                            </tr>
                            
                            <tr class="bor3">
                                <td>Valor Cliente</td>
                                <td id="sec44"></td>
                            </tr>
                            
                            <tr class="bor3">
                                <td>Producto</td>
                                <td id="sec42"><input type="text"></td>
                            </tr>
                            
                            <tr class="bor3">
                                <td>Proceso</td>
                                <td id="sec43"><input type="text"></td>
                            </tr>
                            
                            <tr class="bor3">
                                <td>GestionadoPor</td>
                                <td id="sec6"><select name="" id="">
                                    <option value="">Agente</option>
                                </select></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <div class="tab-two">
                    <table>
                        <tbody>
                            <tr class="bor2">
                                <td>Tipo de registro del Caso</td>
                                <td id="sec">CASO MASIVO</td>
                            </tr>

                            <tr class="bor2">
                                <td>Apellido</td>
                                <td id="sec45"><input id="tname" type="text" required></td>
                            </tr>

                            <tr class="bor2">
                                <td>Numero de Identificación</td>
                                <td id="sec46"><input id="ident" type="text" required></td>
                            </tr>

                            <tr class="bor2">
                                <td>Correo electrónico Web</td>
                                <td id="sec47"><input id="email" type="text" required></td>
                            </tr>

                            <tr class="bor22">
                                <td id="est"><span id="rd">*</span>Estado</td>
                                <td id="sec16"><select name="" id="">
                                    <option value=""> --Ninguno-- </option>
                                    <option value="">En Proceso</option>
                                    <option value="">Preparación Respuesta</option>
                                    <option value="">Abierto</option>
                                    <option value="">Calidad/Cierre de Ciclo</option>
                                    <option value="">Juridica</option>
                                    <option value="">Preliquidado</option>
                                    <option value="">Resuelto</option>
                                    <option value="">Abandono</option>
                                </select></td>
                            </tr>

                            <tr class="bor2">
                                <td>Origen del Caso</td>
                                <td id="sec17"><select name="" id="">
                                    <option value="">Selecciona...</option>
                                    <option value="">Canal Whatsapp Hogares</option>
                                    <option value="">Canal Dashboard MiPymes</option>
                                </select></td>
                            </tr>

                            <tr class="bor2">
                                <td>Prioridad</td>
                                <td id="sec18"><select name="" id="">
                                    <option value="">Selecciona...</option>
                                    <option value="">Alta</option>
                                    <option value="">Media</option>
                                    <option value="">Baja</option>
                                </select></td>
                            </tr>

                            <tr class="bor22">
                                <td>Categoria</td>
                                <td id="sec19"><select name="" id="">
                                    <option value="">Selecciona...</option>
                                    <option value="">Inválidos</option>
                                    <option value="">Información</option>
                                    <option value="">Tramites con servicios</option>
                                    <option value="">Facturación</option>
                                    <option value="">Fallas técnicas</option>
                                    <option value="">Incumplimiento</option>
                                    <option value="">Cancelacion de Servicio</option>
                                    <option value="">Transferencias</option>
                                    <option value="">Móviles</option>
                                </select></td>
                            </tr>

                            <tr class="bor22">
                                <td>Sub Categoría</td>
                                <td id="sec20"><select name="" id="">
                                    <option value="">Selecciona...</option>
                                    <option value="">Activación de SIM</option>
                                    <option value="">Entrega de SIM</option>
                                    <option value="">Roaming Internacional</option>
                                    <option value="">Suspensión por pérdida</option>
                                    <option value="">Portabilidad</option>
                                    <option value="">Registro - Desbloqueo IMEI</option>
                                    <option value="">Suspensión por Robo</option>
                                </select></td>
                            </tr>

                            <tr class="bor22">
                                <td>Registro SUMA <img src="" alt=""></td>
                                <td id="sec48"><select name="" id="">
                                    <option value="">MDM-PQR-42582105</option>
                                </select></td>
                            </tr>

                            <tr class="bor22">
                                <td>Estado Registro SUMA <img src="" alt=""></td>
                                <td id="sec49"><select name="" id="">
                                    <option value="">MDM-PQR-42582105</option>
                                </select></td>
                            </tr>

                            <tr class="bor2">
                                <td>Propietario del Caso</td>
                                <td id="sec21"><img src="../../images/icons/user.png" alt=""><a href="">Maria Alejandra Ariza Henao</a></td>
                            </tr>

                            <tr class="bor4">
                                <td>Enviar conversación al cliente</td>
                                <td id="sec22"><input type="checkbox"></td>
                            </tr>

                            <tr class="bor2">
                                <td>Hora envio copia de conversación</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <div class="tab-three">

                    <div class="p18">
                        <img src="../../images/icons/fot arrow.png" alt="">
                        <p>Descripción</p>
                    </div>

                    <table>
                        <tbody>
                            <tr class="bor52">
                                <td>Asunto</td>
                                <td id="sec53"><input type="text"></td>
                            </tr>

                            <tr class="bor62">
                                <td>Descripción</td>
                                <td id="sec54"><input type="text"></td>
                            </tr>

                            <tr class="bor6">
                                <td>Nombre del Contacto</td>
                                <td id="sec55"><input type="text" placeholder="Buscar Contactos..."></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="p19">
                <button id="cancel">Cancelar</button>
                <button id="save" onclick="btn_save2();">Guardar</button>
            </div>

        </div>

        <div class="contentp-4-2">

            <script>
                var today = new Date();
                var hours = today.getHours();
                var minutes = today.getMinutes();
            </script>

            <div class="p6">
                <img src="../../images/cases/chat.png" alt="">
                <span>Transcipciones del chat (1)</span>
                <button id="fa"><img src="../../images/icons/fot arrow.png" alt=""></button>
            </div>

            <div class="p7">
                <a href="">00867566</a>
                <img src="../../images/icons/fot arrow.png" alt="">
            </div>

            <div class="p8">

                <div class="p9">
                    <p>Propietario:</p>
                    <a id="sec36" href="">ntvg</a>
                </div>

                <div class="p10">
                    <p>Hora de Inicio:</p>
                    <p id="sec56"><script>document.write(`${hours}:${minutes}`)</script></p>
                </div>

                <div class="p11">
                    <p>Hora de Finalizacion:</p>
                    <p id="sec57"></p>
                </div>

            </div>

            <div class="line"></div>

            <a id="sec39" href="">Ver Todos</a>

        </div>

        <div class="contentp-5-2">

            <div class="p12">
                <img src="../../images/cases/messege.png" alt="">
                <span>Sesiones de Mensajeria (0)</span>
                <button id="fa"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 

        </div>

        <div class="contentp-6-2">

            <div class="p13">
                <img src="../../images/cases/paper.png" alt="">
                <span>Archivos Adjuntos (0)</span>
                <button id="fa2"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div>

            <div class="p16">
                <button id="up"><img src="../../images/cases/upload.png" alt=""><a href="">Cargar Archivos</a></button>
                <p>O suelte archivos</p>
            </div>

            <div class="line"></div>

            <a id="sec39" href="">Ver Todos</a>

        </div>

        <div class="contentp-7-2">
            <div class="p15">
                <img src="../../images/cases/tool.png" alt="">
                <span>LogTransacciones (0)</span>
                <button id="fa2"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 
        </div>

    </div>

    <div id="PartII" class="principal-content" style="display: none;">
        <div class="contentp-1">
            <img src="../../images/profile/folio.png" alt="">
            <p>Caso</p>
            <span>17874413</span>
            <img id="plus2" src="../../images/cases/plus.png" alt=""><button id="plus">Seguir</button>
            <button>Modificar</button>
            <button>Eliminar</button>
            <button id="prop">Cambiar Propietario</button>
            <button id="arrow-b"><img src="../../images/icons/fot arrow.png" alt=""></button>
        </div>

        <div class="contentp-2">
            <div class="p1">
                <p>Origen del Caso</p>
                <p>Canal Whatsapp Hogares</p>
            </div>

            <div class="p2">
                <p>Prioridad</p>
                <p>Media</p>
            </div>

            <div class="p3">
                <p>Estado</p>
                <p>Resuelto</p>
            </div>
        </div>

        <div class="contentp-3">

            <div class="p4">
                <p>Detalles</p>
                <p id="not">Noticias en Tiempo Real</p>
            </div>

            <div class="line6"></div>
            <div class="line2"></div>

            <div class="p5">
                <img src="../../images/icons/fot arrow.png" alt="">
                <p>Información del Caso</p>
            </div>

            <div class="tab">

                <div class="tab-one">
                    <table>
                        <tbody>
                            <tr class="bor">
                                <td>Numero del Caso</td>
                                <td id="sec">17874413</td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Nombre</td>
                                <td id="sec2">Victoria<span id="invi">ii</span></td>
                                <td id="sec7"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                            <tr class="bor">
                                <td>Tipo de Documento</td>
                                <td id="sec58">Cedula de Ciudadania</td>
                                <td id="sec59"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                            <tr class="bor">
                                <td>Celular</td>
                                <td id="sec3">6012648519</td>
                                <td id="sec9"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                            <tr class="bor">
                                <td>Codigo unico numérico- <br>CUN</td>
                                <td></td>
                                <td id="sec10"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                            <tr class="bor">
                                <td>Segmento</td>
                                <td id="sec4">Masivo<span id="invi">iiii</span></td>
                                <td id="sec11"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                            <tr class="bor">
                                <td>Tecnologia</td>
                                <td id="sec5">FTTH</td>
                                <td id="sec12"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                            <tr class="bor">
                                <td>Valor Cliente</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                            <tr class="bor">
                                <td>Producto</td>
                                <td></td>
                                <td id="sec13"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                            <tr class="bor">
                                <td>Proceso</td>
                                <td></td>
                                <td id="sec14"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                            <tr class="bor">
                                <td>GestionadoPor</td>
                                <td id="sec6">Agente</td>
                                <td id="sec15"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line3"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <div class="tab-two">
                    <table>
                        <tbody>
                            <tr class="bor">
                                <td>Tipo de registro del Caso</td>
                                <td id="sec">CASO MASIVO</td>
                                <td id="sec23"><img src="../../images/cases/load.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Apellido</td>
                                <td id="sec68">Mendoza</td>
                                <td id="sec69"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Numero de Identificación</td>
                                <td id="sec66">1000110522<span id="invi">ii</span></td>
                                <td id="sec67"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Correo electrónico Web</td>
                                <td id="sec60">anna@email.com</td>
                                <td id="sec61"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Estado</td>
                                <td id="sec16">Resuelto</td>
                                <td id="sec27"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Origen del Caso</td>
                                <td id="sec17">Canal Whatsapp Hogares<span id="invi">iii</span></td>
                                <td id="sec28"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Prioridad</td>
                                <td id="sec18">Media</td>
                                <td id="sec29"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Categoria</td>
                                <td id="sec19">Moviles<span id="invi">iiiiiiiiiiiiiii</span></td>
                                <td id="sec30"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Sub Categoría</td>
                                <td id="sec20">Registro - Desbloqueo IME</td>
                                <td id="sec31"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Registro SUMA <img src="" alt=""></td>
                                <td id="sec62">MDM-PQR-42582105</td>
                                <td id="sec63"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Estado Registro SUMA <img src="" alt=""></td>
                                <td id="sec64">MDM-PQR-42582105</td>
                                <td id="sec65"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Propietario del Caso</td>
                                <td id="sec21"><img src="../../images/icons/user.png" alt=""><a href="">Maria Alejandra Ariza Henao</a></td>
                                <td id="sec34"><img src="../../images/cases/you.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Enviar conversación al cliente</td>
                                <td id="sec22"><input type="checkbox"></td>
                                <td id="sec35"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Hora envio copia de conversación</td>
                            </tr>

                            <tr>
                                <td><div class="line5"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <div class="tab-three">

                    <div class="p17">
                        <img src="../../images/icons/fot arrow.png" alt="">
                        <p>Descripción</p>
                    </div>

                    <table>
                        <tbody>
                            <tr class="bor5">
                                <td>Asunto</td>
                                <td id="sec70">Desbloqueo IMEI</td>
                                <td id="sec71"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Descripción</td>
                                <td id="sec72">Desbloqueo IMEI</td>
                                <td id="sec73"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>

                            <tr>
                                <td><div class="line4"></div></td>
                            </tr>

                            <tr class="bor">
                                <td>Nombre del Contacto</td>
                                <td id="sec52"><img src="../../images/cases/pencil.png" alt=""></td>
                            </tr>
                            
                            <tr>
                                <td><div class="line7"></div></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

        <div class="contentp-4">

            <script>
                var today = new Date();
                var hours = today.getHours();
                var minutes = today.getMinutes();
            </script>

            <div class="p6">
                <img src="../../images/cases/chat.png" alt="">
                <span>Transcipciones del chat (1)</span>
                <button id="fa"><img src="../../images/icons/fot arrow.png" alt=""></button>
            </div>

            <div class="p7">
                <a href="">00867566</a>
                <img src="../../images/icons/fot arrow.png" alt="">
            </div>

            <div class="p8">

                <div class="p9">
                    <p>Propietario:</p>
                    <a id="sec36" href="">ntvg</a>
                </div>

                <div class="p10">
                    <p>Hora de Inicio:</p>
                    <p id="sec56"><script>document.write(`${hours}:${minutes}`)</script></p>
                </div>

                <div class="p11">
                    <p>Hora de Finalizacion:</p>
                    <p id="sec57"><script>document.write(`${hours}:${minutes}`)</script></p>
                </div>

            </div>

            <div class="line"></div>

            <a id="sec39" href="">Ver Todos</a>

        </div>

        <div class="contentp-5">

            <div class="p12">
                <img src="../../images/cases/messege.png" alt="">
                <span>Sesiones de Mensajeria (0)</span>
                <button id="fa"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 

        </div>

        <div class="contentp-6">

            <div class="p13">
                <img src="../../images/cases/paper.png" alt="">
                <span>Archivos Adjuntos (2)</span>
                <button id="fa2"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div>

            <div class="p14">
                <img src="../../images/cases/photo.png" alt="">
                <a href="">Example photo</a>
                <p>ago 20, 2024 * 111KB * png</p>
            </div>

            <div class="p14">
                <img src="../../images/cases/photo.png" alt="">
                <a href="">Example photo</a>
                <p>ago 20, 2024 * 115KB * png</p>
            </div>

            <div class="line"></div>

            <a id="sec39" href="">Ver Todos</a>

        </div>

        <div class="contentp-7">
            <div class="p15">
                <img src="../../images/cases/tool.png" alt="">
                <span>LogTransacciones (0)</span>
                <button id="fa2"><img src="../../images/icons/fot arrow.png" alt=""></button> 
            </div> 
        </div>

    </div>

    <div class="footer-content">
        <div class="his">
            <img src="../../images/profile/clock.png" alt="">
            <p>History</p>
        </div>

        <div class="not">
            <img src="../../images/profile/notes.png" alt="">
            <p>Notes</p>
        </div>

        <div class="can">
            <img src="../../images/profile/rec.png" alt="">
            <p>OmniCanal (Sin Conexión)</p>
        </div>

        <div class="end-3">
            <button onclick="location.href='../../menus/menuSales.html'">SALIR DE LA SIMULACIÓN</button>
        </div>
    </div>

    <div class="alert-flotante" id="alert-flotante2">
        <div class="etb-flotant etb-flotant-login" id="etb-flotant2" style="position: relative; left: 600px; bottom: 930px;">
            <img src="../../images/icons/ETB.svg" alt="">
        </div>
        <div class="mensaje-parlante msg-parl-log" id="mensaje-parlante2" style="position: relative; left: 600px; bottom: 650px; height: 600px; width: 500px; z-index: 0;">
            <p id="text-msg-hab2">
                <div class="lds-ellipsis" id="wait-text2"><div></div><div></div><div></div><div></div></div>
            </p>
    </div>

    <div class="alert-flotante" id="alert-flotante" style="bottom: 50px;">
        <div class="etb-flotant etb-flotant-login" id="etb-flotant" style="bottom: 50px;">
            <img src="../../images/icons/ETB.svg" alt="">
        </div>
        <div class="mensaje-parlante msg-parl-log" id="mensaje-parlante" style="bottom: 50px;">
            <p id="text-msg-hab">
                <div class="lds-ellipsis" id="wait-text"><div></div><div></div><div></div><div></div></div>
            </p>
        </div>
    </div>

    <script src="../../bootstrap/jquery.js"></script>
    <script src="../../bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../bootstrap/typed.js"></script>
    <script src="../../../Controller/case/case.js"></script>
    <script src="../../../Controller/main/hablador.js"></script>
    <script>
        $( document ).ready(function() {
            habladorText2('Cuando realizas la gestion debes ingresar la informacion del Caso, relacionadas estrictamente con el cliente, ademas de seguir con la tipificación optima segun el caso a solucionar, tambien ten en cuenta que los campos seran obligatorios para poder realizar una buena gestión: <br><br> Nombre: Victoria <br> Apellido: Mendoza <br> Celular: 6012648519 <br> Numero de Identificación: 1000110522 <br> Correo electrónico Web: anna@email.com <br> Estado: Resuelto <br> Categoria: Moviles <br> Sub Categoría: Registro - Desbloqueo IMEI <br> Registro y Estado Registro SUMA: MDM-PQR-42582105 <br> Asunto: Desbloqueo IMEI <br> Descripción: Desbloqueo IMEI <br><br> Cuando ingreses todos los datos mostrados, en sus respectivos campos, preciona guardar, para poder continuar.')
        });
    </script>

</body>
</html>