<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/icons/zoci.png">
    <link rel="stylesheet" href="../css/comp.css">
    <link rel="stylesheet" href="../css/modal2.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Interfaz - Simulador ZOC</title>
</head>
<body>

    <div class="top-content">
        <div class="top1">
            <p>File</p>
            <p id="spas">Edit</p>
            <p id="spas">Review</p>
            <p id="spas">Logging</p>
            <p id="spas">Transfer</p>
            <p id="spas">Script</p>
            <p id="spas">Options</p>
            <p id="spas">Help</p>
        </div>
    </div>

    <div class="top-content2">
        <div class="top2">
            <img src="../images/interfaz/e-book.png" alt="">
            <img src="../images/interfaz/ter1.png" alt="">
            <img src="../images/interfaz/ter2.png" alt="">
        </div>

        <div class="top3">
            <img src="../images/interfaz/ter33.png" alt="">
            <img src="../images/interfaz/play.png" alt="">
            <img src="../images/interfaz/ter4.png" alt="">
            <img src="../images/interfaz/ter5.png" alt="">
        </div>

        <div class="top4">
            <img src="../images/interfaz/paper.png" alt="">
            <img src="../images/interfaz/paper2.png" alt="">
            <img src="../images/interfaz/edit.png" alt="">
            <img src="../images/interfaz/imp.png" alt="">
        </div>

        <div class="top5">
            <img src="../images/interfaz/down.png" alt="">
            <img src="../images/interfaz/upload.png" alt="">
            <img src="../images/interfaz/upload2.png" alt="">
        </div>

        <div class="top6">
            <img src="../images/interfaz/play2.png" alt="">
            <img src="../images/interfaz/square.png" alt="">
        </div>

        <div class="top7">
            <img src="../images/interfaz/full.png" alt="">
            <img src="../images/interfaz/full2.png" alt="">
            <img src="../images/interfaz/full3.png" alt="">
            <img src="../images/interfaz/full4.png" alt="">
        </div>

        <div class="top8">
            <img src="../images/interfaz/tool.png" alt="">
            <img src="../images/interfaz/tool2.png" alt="">
            <img src="../images/interfaz/tool3.png" alt="">
            <img src="../images/interfaz/tool4.png" alt="">
        </div>

        <div class="top9">
            <img src="../images/interfaz/tool5.png" alt="">
            <img src="../images/interfaz/tool6.png" alt="">
        </div>

        <div class="top10">
            <img src="../images/interfaz/port.png" alt="">
        </div>

        <div class="top11">
            <img id="es15" src="../images/icons/speaker.png" alt="parlante-audio-etb" class="img-audio" id="img_editar_contac" onclick="alertAudio('au_menu2', 'img_editar_contac', 2, 7)">
            <audio id="au_menu2" class="audio" style="display: none;">
                <source type="audio/wav" src="../../Model/audio/ZOC8.mp3">
            </audio>
        </div>

    </div>

    <div class="cen-content">
        <div class="cen1">
            <button onclick="mod10();" class="cur"><img src="../images/interfaz/e-book.png" alt=""> (untitled)</button>
        </div>

        <div class="cen2">
            <p id="cent"><img src="../images/interfaz/point.png" alt=""> CENTRO</p>
            <p><img src="../images/interfaz/point.png" alt=""> CHAPINERO</p>
            <p><img src="../images/interfaz/point.png" alt=""> CUNI</p>
            <p><img src="../images/interfaz/point.png" alt=""> CHICO</p>
            <p><img src="../images/interfaz/point.png" alt=""> NORMANDIA</p>
            <p><img src="../images/interfaz/point.png" alt=""> CALI</p>
            <p><img src="../images/interfaz/point.png" alt=""> MEDELLIN</p>
            <p><img src="../images/interfaz/point.png" alt=""> BARRANQUILLA</p>
        </div>

        <div>

        </div>
    </div>

    <div class="cen-content2">

        <div class="modal-four" id="m-four">
            <div class="modal-header4">
                <img src="../images/interfaz/e-book.png" alt="">
                <p>Host Directory</p>
                <img src="" alt="">
            </div>
            <div class="modal-body4">
                <div class="mod1">
                </div>

                <div class="mod22222">
                    <p>My Connections</p>
                    <p>Public Host</p>
                    <p>TN3720 Hosts</p>
                    <p id="w3" onclick="mod(),habladorText('Selecciona la unica opcion del menu, denominada “Manage Sections”, para continuar')">SOPORTE</p>
                </div>

                <div class="mod33333">
                    <table id="tab">
                        <tbody>
                            <tr>
                            <th>Name</th>
                            <th>Connect to</th>
                            <th id="th1">Last Connect</th>
                            <th id="th2">Comment</th>
                            </tr>

                            <tr id="tr1">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_B/QUILLA</td>
                                <td>10.34.5.12:24 (SSH)</td>
                                <td>today</td>
                                <td>1 connectios</td>
                            </tr>

                            <tr>
                                <td><img src="../images/interfaz/point.png" alt=""> M320_BMANGA N</td>
                                <td>10.247.68.7:34 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>

                            <tr>
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CALI</td>
                                <td>10.28.6.7:20 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>

                            <tr>
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CENTRO2</td>
                                <td>10.247.56.17:28 (SSH)</td>
                                <td>today</td>
                                <td>2 connectios</td>
                            </tr>

                            <tr>
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CHAPINERO2</td>
                                <td>10.247.55.16:28 (SSH)</td>
                                <td>today</td>
                                <td>1 connectios</td>
                            </tr>

                            <tr>
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CHICO2</td>
                                <td>10.247.61.247:26 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>

                            <tr>
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CUNI2</td>
                                <td>10.247.54.11:22 (SSH)</td>
                                <td>today</td>
                                <td>1 connectios</td>
                            </tr>

                            <tr>
                                <td><img src="../images/interfaz/point.png" alt=""> M320_NORMANDIA</td>
                                <td>10.247.52.10:39 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                   
            </div>
    
            <div class="modal-footer4">
                <div class="fot3">
                    <p id="sho"><input type="checkbox">Show this windows when starting the program</p>
                    <button id="clos222" onclick="">Connect</button>
                    <button id="clos333">New...</button>
                    <button id="clos333">Edit...</button>
                    <button id="clos333">Clone...</button>
                    <button id="clos333">Delete</button>
                    <button id="clos333">More</button>
                    <button id="clos44">Cancel</button>
                    <button id="clos55">Save</button>
                    <button id="clos66">Help</button>
                </div>
            </div>
        </div>

        <div class="modal-five" id="m-five" style="display: none;">
            <div class="modal-body5">
                <p id="" onclick="mod2(),habladorText('Selecciona el botón “Add”, para adicionar y continuar');">Manage Sections...</p>
            </div>
        </div>

        <div class="menu-two" id="me-two" style="display: none;">
            <div class="menu-header">
                <p>Import Host Directory</p>
                <img src="" alt="">
            </div>
            <div class="menu-body2">
                <div class="mod1">
                </div>

                <div class="mod222">
                    <p>Host Directory Sections</p>
                </div>

                <div class="mod333">
                    <li class="lis">
                        <ul>My Connections</ul>
                        <ul>Public Hosts</ul>
                        <ul>TN3270 Hosts</ul>
                        <ul>SOPORTE</ul>
                        <ul></ul>
                        <ul></ul>
                        <ul></ul>
                        <ul></ul>
                        <ul></ul>
                        <ul></ul>
                        <ul></ul>
                    </li>
                </div>
                
            </div>
    
            <div class="menu-footer">
                <div class="fot33">
                    <div id="sho2">
                        <button id="clos1" onclick="mod3(),habladorText('Nombrar el módulo que se agregara, en este caso “Rastreo”, para guardar el modulo, selecciona el boton “OK”');">Add...</button>
                        <button id="clos33" disabled>Rename...</button>  
                        <button id="clos33" disabled>Delete</button>  
                        <button id="clos33" disabled>Move Up</button>
                        <button id="clos33" disabled>Move Down</button>    
                    </div>
                    <div id="sho3">
                        <button id="clos33">OK</button>
                        <button id="clos33">Cancel</button>
                        <button id="clos33">Help</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-three" id="me-three" style="display: none;">
            <div class="menu-header">
                <p>Editor Host Directory Section</p>
                <img src="" alt="">
            </div>
            <div class="menu-body3">
                <div class="mod1">
                </div>

                <div class="md2">
                    <p>Section Name</p>
                </div>

                <div class="md3">
                    <input type="text" placeholder="RASTREO">
                </div>
                
            </div>
    
            <div class="menu-footer">
                <div class="fot33">
                    <div id="sho4">
                        <button id="clos1" onclick="mod4(),habladorText('Después de crear la carpeta volveras nuevamente a “My Directory”, selecciona toda las centrales, se habilitara la opcion de copiar y luego otra para pegar');">OK</button>
                        <button id="clos33">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-six" id="m-six" style="display: none;">
            <div class="modal-header4">
                <img src="../images/interfaz/e-book.png" alt="">
                <p>Host Directory</p>
                <img src="" alt="">
            </div>
            <div class="modal-body6">
                <div class="mod1">
                </div>

                <div class="mod22222">
                    <p>My Connections</p>
                    <p>Public Host</p>
                    <p>SOPORTE</p>
                    <p id="w3">RASTREO</p>
                </div>

                <div class="mod33333">
                    <table id="tab">
                        <tbody>
                            <tr>
                            <th>Name</th>
                            <th>Connect to</th>
                            <th id="th1">Last Connect</th>
                            <th id="th2">Comment</th>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_B/QUILLA</td>
                                <td>10.34.5.12:24 (SSH)</td>
                                <td>today</td>
                                <td>1 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_B/QUILLA</td>
                                <td>10.34.5.12:24 (SSH)</td>
                                <td>today</td>
                                <td>1 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_BMANGA N</td>
                                <td>10.247.68.7:34 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_BMANGA N</td>
                                <td>10.247.68.7:34 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CALI</td>
                                <td>10.28.6.7:20 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CALI</td>
                                <td>10.28.6.7:20 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CENTRO2</td>
                                <td>10.247.56.17:28 (SSH)</td>
                                <td>today</td>
                                <td>2 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CENTRO2</td>
                                <td>10.247.56.17:28 (SSH)</td>
                                <td>today</td>
                                <td>2 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CHAPINERO2</td>
                                <td>10.247.55.16:28 (SSH)</td>
                                <td>today</td>
                                <td>1 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CHICO2</td>
                                <td>10.247.61.247:26 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CUNI2</td>
                                <td>10.247.54.11:22 (SSH)</td>
                                <td>today</td>
                                <td>1 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_NORMANDIA</td>
                                <td>10.247.52.10:39 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                   
            </div>
    
            <div class="modal-footer4">
                <div class="fot3">
                    <p id="sho"><input type="checkbox">Show this windows when starting the program</p>
                    <button id="clos222" onclick="">Connect</button>
                    <button id="clos333">New...</button>
                    <button id="clos333">Edit...</button>
                    <button id="clos333">Clone...</button>
                    <button id="clos333">Delete</button>
                    <button id="clos333">More</button>
                    <button id="clos44">Cancel</button>
                    <button id="clos55">Save</button>
                    <button id="clos66">Help</button>
                </div>
            </div>
        </div>

        <div class="modal-four" id="m-four2" style="display: none;">
            <div class="modal-header4">
                <img src="../images/interfaz/e-book.png" alt="">
                <p>Host Directory</p>
                <img src="" alt="">
            </div>
            <div class="modal-body4">
                <div class="mod1">
                </div>

                <div class="mod22222">
                    <p>My Connections</p>
                    <p>Public Host</p>
                    <p>TN3720 Hosts</p>
                    <p id="w3">SOPORTE</p>
                </div>

                <div class="mod33333">
                    <table id="tab">
                        <tbody>
                            <tr>
                            <th>Name</th>
                            <th>Connect to</th>
                            <th id="th1">Last Connect</th>
                            <th id="th2">Comment</th>
                            </tr>

                            <tr id="tr1">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_B/QUILLA</td>
                                <td>10.34.5.12:24 (SSH)</td>
                                <td>today</td>
                                <td>1 connectios</td>
                            </tr>

                            <tr id="tr2" onclick="cop();">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_BMANGA N</td>
                                <td>10.247.68.7:34 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>

                            <tr id="tr3" onclick="cop2();">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CALI</td>
                                <td>10.28.6.7:20 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>

                            <tr id="tr4" onclick="cop3();">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CENTRO2</td>
                                <td>10.247.56.17:28 (SSH)</td>
                                <td>today</td>
                                <td>2 connectios</td>
                            </tr>

                            <tr id="tr5" onclick="cop4();">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CHAPINERO2</td>
                                <td>10.247.55.16:28 (SSH)</td>
                                <td>today</td>
                                <td>1 connectios</td>
                            </tr>

                            <tr id="tr6" onclick="cop5();">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CHICO2</td>
                                <td>10.247.61.247:26 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>

                            <tr id="tr7" onclick="cop6();">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CUNI2</td>
                                <td>10.247.54.11:22 (SSH)</td>
                                <td>today</td>
                                <td>1 connectios</td>
                            </tr>

                            <tr id="tr8" onclick="cop7();">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_NORMANDIA</td>
                                <td>10.247.52.10:39 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                   
            </div>
    
            <div class="modal-footer4">
                <div class="fot3">
                    <p id="sho"><input type="checkbox">Show this windows when starting the program</p>
                    <button id="clos222" onclick="">Connect</button>
                    <button id="clos333">New...</button>
                    <button id="clos333">Edit...</button>
                    <button id="clos333">Clone...</button>
                    <button id="clos333">Delete</button>
                    <button id="clos333">More</button>
                    <button id="clos44">Cancel</button>
                    <button id="clos55">Save</button>
                    <button id="clos66">Help</button>
                </div>
            </div>
        </div>
        
        <div class="modal-five" id="m-seven" style="display: none;">
            <div class="modal-body5">
                <p id="" onclick="mod5();">Copiar</p>
            </div>
        </div>

        <div class="modal-five" id="m-eight" style="display: none;">
            <div class="modal-body5">
                <p id="" onclick="mod6(),habladorText('Ahora veras como la carpeta rastreo ya cuenta con las centrales que acabas de copiar y pegar, para finalizar con el ejercicio, da click en el boton FINALIZAR SIMULACIÓN, que se encuentra en la parte inferior derecha');">Pegar</p>
            </div>
        </div>

        <img class="ba" id="ba" src="../images/interfaz/etb.PNG" alt="">

        <div class="fle" id="fle" style="display: none;">
            <img src="../images/icons/arrow.png" alt="">
        </div>

        <div class="fle2" id="fle2" style="display: none;">
            <img src="../images/icons/arrow.png" alt="">
        </div>

        <div class="fle3" id="fle3" style="display: none;">
            <img src="../images/icons/arrow.png" alt="">
        </div>

        <div class="fle4" id="fle4" style="display: none;">
            <img src="../images/icons/arrow.png" alt="">
        </div>

        <div class="fle5" id="fle5" style="display: none;">
            <img src="../images/icons/arrow.png" alt="">
        </div>

        <div class="fle6" id="fle6" style="display: none;">
            <img src="../images/icons/arrow.png" alt="">
        </div>

        <div class="fle7" id="fle7" style="display: none;">
            <img src="../images/icons/arrow.png" alt="">
        </div>

    </div>

    <div class="fot-content">
        <div class="his">
            <img src="../images/interfaz/full5.png" alt="">
            <p>Secure Shell</p>
        </div>

        <div class="not">
            <p>VT100</p>
        </div>

        <div class="can">
            <p>Zmodem</p>
        </div>

        <div class="can">
            <input type="checkbox">
            <p>ZOC2408_01.log</p>
        </div>

        <div class="end-3" id="jake">
            <button onclick="location.href='../menus/menuZoc.html'">SALIR DE LA SIMULACIÓN</button>
        </div>

        <div class="end-3" id="finn" style="display: none;">
            <button onclick="location.href='../menus/menuZoc.html'">FINALIZAR SIMULACIÓN</button>
        </div>
    </div>

    <div class="alert-flotante" id="alert-flotante" style="bottom: 50px;">
        <div class="etb-flotant etb-flotant-login" id="etb-flotant" style="bottom: 50px;">
            <img src="../images/icons/ETB.svg" alt="">
        </div>
        <div class="mensaje-parlante msg-parl-log" id="mensaje-parlante" style="bottom: 50px;">
            <p id="text-msg-hab">
                <div class="lds-ellipsis" id="wait-text"><div></div><div></div><div></div><div></div></div>
            </p>
        </div>
        <div class="con-close-alert" onclick="ocultarHablador()">
            <img src="../images/icons/cross_small.svg" alt="">
        </div>
    </div>

    <script src="../bootstrap/jquery.js"></script>
    <script src="../bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../bootstrap/typed.js"></script>
    <script src="../../Controller/interfaz/zoc3.js"></script>
    <script src="../../Controller/main/hablador.js"></script>

    <script>
        $( document ).ready(function() {
            habladorText('Da click en el apartado de “soporte”, para agregar módulo en este caso, en un escenario real, deberas dar click derecho, para poder realizar esta accion')
        });
    </script>

</body>
</html>