<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/icons/zoci.png">
    <link rel="stylesheet" href="../css/comp.css">
    <link rel="stylesheet" href="../css/modal3.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Interfaz - Simulador ZOC</title>
</head>
<body>

    <div class="top-content">
        <div class="top1">
            <p>File</p>
            <p id="spas">Edit</p>
            <p id="spas">Review</p>
            <p id="spas">Logging</p>
            <p id="spas">Transfer</p>
            <p id="spas">Script</p>
            <p id="spas">Options</p>
            <p id="spas">Help</p>
        </div>
    </div>

    <div class="top-content2">
        <div class="top2">
            <img src="../images/interfaz/e-book.png" alt="">
            <img src="../images/interfaz/ter1.png" alt="">
            <img src="../images/interfaz/ter2.png" alt="">
        </div>

        <div class="top3">
            <img src="../images/interfaz/ter33.png" alt="">
            <img src="../images/interfaz/play.png" alt="">
            <img src="../images/interfaz/ter4.png" alt="">
            <img src="../images/interfaz/ter5.png" alt="">
        </div>

        <div class="top4">
            <img src="../images/interfaz/paper.png" alt="">
            <img src="../images/interfaz/paper2.png" alt="">
            <img src="../images/interfaz/edit.png" alt="">
            <img src="../images/interfaz/imp.png" alt="">
        </div>

        <div class="top5">
            <img src="../images/interfaz/down.png" alt="">
            <img src="../images/interfaz/upload.png" alt="">
            <img src="../images/interfaz/upload2.png" alt="">
        </div>

        <div class="top6">
            <img src="../images/interfaz/play2.png" alt="">
            <img src="../images/interfaz/square.png" alt="">
        </div>

        <div class="top7">
            <img src="../images/interfaz/full.png" alt="">
            <img src="../images/interfaz/full2.png" alt="">
            <img src="../images/interfaz/full3.png" alt="">
            <img src="../images/interfaz/full4.png" alt="">
        </div>

        <div class="top8">
            <img src="../images/interfaz/tool.png" alt="">
            <img src="../images/interfaz/tool2.png" alt="">
            <img src="../images/interfaz/tool3.png" alt="">
            <img src="../images/interfaz/tool4.png" alt="">
        </div>

        <div class="top9">
            <img src="../images/interfaz/tool5.png" alt="">
            <img src="../images/interfaz/tool6.png" alt="">
        </div>

        <div class="top10">
            <img src="../images/interfaz/port.png" alt="">
        </div>

        <div class="top11">
            <img id="es15" src="../images/icons/speaker.png" alt="parlante-audio-etb" class="img-audio" id="img_editar_contac" onclick="alertAudio('au_menu2', 'img_editar_contac', 2, 7)">
            <audio id="au_menu2" class="audio" style="display: none;">
                <source type="audio/wav" src="../../Model/audio/ZOC6.mp3">
            </audio>
        </div>

    </div>

    <div class="cen-content">
        <div class="cen1">
            <button onclick="mod10();" class="cur"><img src="../images/interfaz/e-book.png" alt=""> (untitled)</button>
        </div>

        <div class="cen2">
            <p id="cent"><img src="../images/interfaz/point.png" alt=""> CENTRO</p>
            <p><img src="../images/interfaz/point.png" alt=""> CHAPINERO</p>
            <p><img src="../images/interfaz/point.png" alt=""> CUNI</p>
            <p><img src="../images/interfaz/point.png" alt=""> CHICO</p>
            <p><img src="../images/interfaz/point.png" alt=""> NORMANDIA</p>
            <p><img src="../images/interfaz/point.png" alt=""> CALI</p>
            <p><img src="../images/interfaz/point.png" alt=""> MEDELLIN</p>
            <p><img src="../images/interfaz/point.png" alt=""> BARRANQUILLA</p>
        </div>

        <div>

        </div>
    </div>

    <div class="cen-content2">

        <div class="modal-six" id="m-six">
            <div class="modal-header4">
                <img src="../images/interfaz/e-book.png" alt="">
                <p>Host Directory</p>
                <img src="" alt="">
            </div>
            <div class="modal-body6">
                <div class="mod1">
                </div>

                <div class="mod22222">
                    <p>My Connections</p>
                    <p>Public Host</p>
                    <p>TN3720 Hosts</p>
                    <p id="w3">SOPORTE</p>
                </div>

                <div class="mod33333">
                    <table id="tab">
                        <tbody>
                            <tr>
                            <th>Name</th>
                            <th>Connect to</th>
                            <th id="th1">Last Connect</th>
                            <th id="th2">Comment</th>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_B/QUILLA</td>
                                <td>10.34.5.12:24 (SSH)</td>
                                <td>today</td>
                                <td>1 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_B/QUILLA</td>
                                <td>10.34.5.12:24 (SSH)</td>
                                <td>today</td>
                                <td>1 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_BMANGA N</td>
                                <td>10.247.68.7:34 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_BMANGA N</td>
                                <td>10.247.68.7:34 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CALI</td>
                                <td>10.28.6.7:20 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CALI</td>
                                <td>10.28.6.7:20 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>

                            <tr id="tr9" onclick="cop8();">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CENTRO2</td>
                                <td>10.247.56.17:28 (SSH)</td>
                                <td>today</td>
                                <td>2 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CENTRO2</td>
                                <td>10.247.56.17:28 (SSH)</td>
                                <td>today</td>
                                <td>2 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CHAPINERO2</td>
                                <td>10.247.55.16:28 (SSH)</td>
                                <td>today</td>
                                <td>1 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CHICO2</td>
                                <td>10.247.61.247:26 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_CUNI2</td>
                                <td>10.247.54.11:22 (SSH)</td>
                                <td>today</td>
                                <td>1 connectios</td>
                            </tr>

                            <tr id="tr0">
                                <td><img src="../images/interfaz/point.png" alt=""> M320_NORMANDIA</td>
                                <td>10.247.52.10:39 (SSH)</td>
                                <td>(never)</td>
                                <td>0 connectios</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                   
            </div>
    
            <div class="modal-footer6">
                <div class="fot3">
                    <p id="sho"><input type="checkbox">Show this windows when starting the program</p>
                    <button id="clos222" onclick="">Connect</button>
                    <button id="clos333">New...</button>
                    <button id="clos333" class="edi" onclick="mod7(),habladorText('En el modulo login, ingresa el usuario y contraseña, da click en Host en el menu superior: <br><br> Username: helpdesk <br> Password: H3lpd3sks0p0rt')">Edit...</button>
                    <button id="clos333">Clone...</button>
                    <button id="clos333">Delete</button>
                    <button id="clos333">More</button>
                    <button id="clos44">Cancel</button>
                    <button id="clos555">Save</button>
                    <button id="clos666">Help</button>
                </div>
            </div>
        </div>

        <div class="modal-seven" id="mo-seven" style="display: none;">
            <div class="modal-header4">
                <p>Editor Host Directory Entry</p>
                <img src="" alt="">
            </div>
            <div class="modal-body7">
                <div class="mod1">
                </div>

                <div class="mod22222">
                    <p id="cur" onclick="mod8(),habladorText('En este apartado deberas añadir un titulo y la ip del primer salto, para este caso el titulo sera M320_CENTRO2 y la ip 192.168.1.1, para seguir presiona en OK')">Host</p>
                    <p>Options</p>
                    <p id="w1">Login</p>
                    <p>Shortcuts</p>
                    <p>Window</p>
                    <p>BBS</p>
                    <p id="w2">Info</p>
                </div>

            <div class="mod33333">
                    <div class="md2">
                        <p>Login Information</p>
                    </div>

                <div class="mod44444">

                    <div class="md4">
                        <p>Username <input type="text"></p>
                        <p>Password <input type="password"></p>
                    </div>

                    <div class="md5">
                        <p>SSH Keyfile <input id="ssh" type="text"></p>
                        <button id="port4">...</button>
                        <p id="try"><input type="checkbox">Try to authorize via key files from global SSH options</p>
                    </div>

                    <div class="md6">
                        <p>Login Script <input type="text"></p>
                        <button id="port44">...</button>
                        <p id="ssh2">Parameter <input type="text"></p>
                    </div>

                    <div class="md7">
                        <p>Auto Login Seguence</p>
                        <textarea name="" id=""></textarea>
                        <div class="md8">
                            <p><input type="checkbox">Record kesystrokes on next login</p>
                            <p>Notes: Before activating the recorder, <br> 
                            please enter your username and <br>
                            password into the fields above.</p>
                        </div>
                    </div>
                </div>
                
            </div>
                   
            </div>
    
            <div class="modal-footer7">
                <div class="fot333">
                    <button id="clos44">Cancel</button>
                    <button id="clos5555">Save</button>
                    <button id="clos6666">Help</button>
                </div>
            </div>
        </div>

        <div class="modal-eight" id="mo-eight"  style="display: none;">
            <div class="modal-header4">
                <p>Editor Host Directory Entry</p>
                <img src="" alt="">
            </div>
            <div class="modal-body7">
                <div class="mod1">
                </div>

                <div class="mod22222">
                    <p id="w1">Host</p>
                    <p>Options</p>
                    <p>Login</p>
                    <p>Shortcuts</p>
                    <p>Window</p>
                    <p>BBS</p>
                    <p id="w2">Info</p>
                </div>

            <div class="mod333333">
                    <div class="md22">
                        <p>Host info</p>
                    </div>

                <div class="mod444444">

                    <div class="md44">
                        <p>Title <input type="text"></p>
                        <p id="pot"><img src="../images/interfaz/point.png" alt=""></p>
                        <p><input type="checkbox">Short first in host <br> directory list</p>
                    </div>

                    <div class="md5">
                        <p id="pot2">Section <select name="" id="pot7" disabled>
                            <option value="">SOPORTE</option>
                        </select></p>
                    </div>

                </div>

                <div class="md222">
                    <p>Connection</p>
                </div>

                <div class="mod4444444" id="list">

                    <div class="md4">
                        <p id="pot4">Connect to <input type="text" id="pot5"></p>
                        <p id="pot6">Port <input type="text" id="pot3"></p>
                    </div>

                    <div class="md4">
                        <select name="" id="auto">
                            <option value="">
                            AutoConnect (progress dialog with retry)
                            </option>
                        </select>
                    </div>

                    <div class="mod4">
                        <p>Session profile</p>
                        <select id="por1"  name="">
                            <option value="">Standrard.zoc</option>
                        </select>
                        <button id="port1">Edit...</button>
                    </div>

                    <div class="mod4">
                        <p>Connection type</p>
                        <select id="por2"  name="">
                            <option value="">Secure Shell</option>
                        </select>
                        <button id="port2">Configure...</button>
                    </div>

                    <div class="mod4">
                        <p>Emulation</p>
                        <select id="por3"  name="">
                            <option value="">VT100</option>
                        </select>
                        <button id="port3">Configure...</button>
                    </div>
                </div>
                
            </div>
                   
            </div>
    
            <div class="modal-footer7">
                <div class="fot333">
                    <button id="clos44">Cancel</button>
                    <button id="clos5555" class="cur" onclick="mod9(),habladorText('Para ingresar a personalizar cada una de las centrales se debe seleccionar, en este caso el nombre del documento el cual podras apreciar en la parte superior izquierda de la interfaz (untitled) y selecciona “Custumize”, en un esecenario real esta accion se realiza con click derecho')">OK</button>
                    <button id="clos6666">Help</button>
                </div>
            </div>
        </div>

        <div class="modal-nine" id="m-nine" style="display: none;">
            <div class="modal-body5">
                <p id="cur" onclick="mod11(),habladorText('En este apartado puedes perzonal la central que se desee o nesecite, para continuar da click en el boton “Edit”')">Customize...</p>
            </div>
        </div>

        <div class="modal-ten" id="m-ten" style="display: none;">
            <div class="modal-header4">
                <img src="" alt="">
                <p>Editor Host Directory Entry</p>
                <img src="" alt="">
            </div>
            <div class="modal-body7">
                <div class="mod1">
                </div>

                <div class="md10">
                    <ul id="lis2">
                        <li>Connection Type</li>
                        <li>Terminal</li>
                        <li>Layout/Front</li>
                        <li>Colors</li>
                        <li>Emulations</li>
                        <li>Text Sending</li>
                        <li>Logging</li>
                        <li>Window Parts</li>
                        <li>User Buttons</li>
                        <li>Keyboard</li>
                        <li>Auto-Action</li>
                        <li>Auto-Highlight</li>
                        <li>File Transfer</li>
                        <li>File Handling</li>
                        <li>Trace/Debug</li>
                        <li>Advanced</li>
                    </ul>
                </div>

                <div class="md9">

                    <div class="mod222222">
                        <p id="user">User Bottons</p>
                    </div>

                    <div class="mod333333">
                        <div class="md2222">
                            <p>User Bottons</p>
                        </div>

                    <div class="mod4444444">
                        <ul id="lis">
                            <li><img src="../images/interfaz/point.png" alt="">CENTRO</li>
                            <li><img src="../images/interfaz/point.png" alt="">CHAPINERO</li>
                            <li><img src="../images/interfaz/point.png" alt="">CUNI</li>
                            <li><img src="../images/interfaz/point.png" alt="">CHOCO</li>
                            <li><img src="../images/interfaz/point.png" alt="">NORMANDIA</li>
                            <li><img src="../images/interfaz/point.png" alt="">CALI</li>
                            <li><img src="../images/interfaz/point.png" alt="">MEDELLIN</li>
                            <li><img src="../images/interfaz/point.png" alt="">BARRANQUILLA</li>
                        </ul>
                        <p id="pal">CENTRO: (call) M320_CENTRO2</p>
                    </div>

                </div>
                
            </div>
                   
            </div>
    
            <div class="modal-footer7">
                <div class="fot3333">
                    <button id="clos33">Add...</button>
                    <button id="clos1" class="cur" onclick="mod12(),habladorText('Ahora selecciona la opcion, 5 del menu seleccionable')">Edit...</button>  
                    <button id="clos33">Delete</button>  
                    <button id="clos33"disabled>Move Up</button>
                    <button id="clos33">Move Down</button>   
                    <button id="clos33">Create Folder</button>   
                    <button id="clos33">Import...</button>
                    <div class="fob"> 
                        <div class="fob2">
                            <button id="clos66666">Help</button>
                            <button id="clos66666">Save As...</button>
                        </div>
                        <button id="clos66666">Save</button>   
                        <button id="clos66666">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-eleven" id="m-eleven" style="display: none;">
            <div class="modal-header4">
                <p>Editor Huser Bottons</p>
                <img src="" alt="">
            </div>
            <div class="modal-body8">
                <div class="mod1">
                </div>

                <div class="md11">

                    <div class="mod333333">
                        <div class="md22222">
                            <p>Bottons Properties</p>
                        </div>

                    <div class="md55">
                        <div class="cet">
                            <p>Label <select name="" id="pot9">
                                <option value="">CENTRO</option>
                            </select></p>
                            <p id="pot8"><img src="../images/interfaz/point.png" alt=""></p>
                        </div>

                        <br><br>

                        <p>The button will perform the following action</p>

                        <br>

                        <select name="" id="se" onchange="mod13(),habladorText('Clickea en la opcion “My Connections”')">
                            <option value="">1. Send text to remote computer</option>
                            <option value="">2. Send a single emulation specific key</option>
                            <option value="">3. Star a REXX script in the current tab</option>
                            <option value="">4. Connect to a given address via specific communication method</option>
                            <option value="">5. Connet to a host using a host directory entry</option>
                            <option value="">6. Run a command through the operating system's shell</option>
                            <option value="">7. Launch an executable program with optional parameters</option>
                            <option value="">8. Perform a function from ZOC's main menu</option>
                            <option value="">9. Play a sound file</option>
                            <option value="">10. Do nothing (ignore this trigger)</option>
                        </select>
                    </div>

                    <div class="md66">
                        <p>Host to Call: <select name="" id="pot10">
                            <option value="">M320_CENTRO2</option>
                        </select></p>
                        <p>(the name of an entry from the host directory)</p>
                    </div>
                

                </div>
                
            </div>
                   
            </div>
    
            <div class="modal-footer7">
                <div class="fot33333">
                    <button id="clos1">OK</button>
                    <button id="clos33">Cancel</button>  
                    <button id="clos33">Help</button>  
                </div>
            </div>
        </div>

        <div class="modal-twelve" id="m-twelve" style="display: none;">
            <div class="modal-body5">
                <p id="cur" onclick="mod14(),habladorText('Y por ultimo selecciona la central M320_CENTRO2, para FINALIZAR CON LA SIMULACION')">My Connections</p>
                <p id="">Public Host</p>
                <p id="">TN3270 Hosts</p>
                <p id="">SOPORTE</p>
            </div>
        </div>

        <div class="modal-thirteen" id="m-thirteen" style="display: none;">
            <div class="modal-body5">
                <ul>
                    <li>M320_AUTOPISTA</li>
                    <li>M320_B/QUILLA</li>
                    <li>M320_BMANGA N</li>
                    <li>M320_CALI</li>
                    <li class="cur" onclick="location.href='../menus/menuZoc.html'">M320_CENTRO2</li>
                    <li>M320_CHAPINERO2</li>
                    <li>M320_CHICO2</li>
                    <li>M320_CUNI2</li>
                    <li>M320_MEDELLIN</li>
                    <li>M320_MUZU</li>
                    <li>M320_NORMANDIA</li>
                    <li>M320_NORMANDIA_2</li>
                    <li>M320_PEREIRA</li>
                    <li>M320_STA.BARBARA</li>
                    <li>M320_STA.BARBARA</li>
                </ul>
            </div>
        </div>

        <img class="ba" id="ba" src="../images/interfaz/etb.PNG" alt="">

        <div class="fle8" id="fle8" style="display: none;">
            <img src="../images/icons/arrow.png" alt="">
        </div>

        <div class="fle9" id="fle9" style="display: none;">
            <img src="../images/icons/arrow.png" alt="">
        </div>

        <div class="fle10" id="fle10" style="display: none;">
            <img src="../images/icons/arrow3.png" alt="">
        </div>

        <div class="fle11" id="fle11" style="display: none;">
            <img src="../images/icons/arrow3.png" alt="">
        </div>

        <div class="fle12" id="fle12" style="display: none;">
            <img src="../images/icons/arrow2.png" alt="">
        </div>

        <div class="fle13" id="fle13" style="display: none;">
            <img src="../images/icons/arrow2.png" alt="">
        </div>

        <div class="fle14" id="fle14" style="display: none;">
            <img src="../images/icons/arrow.png" alt="">
        </div>

        <div class="fle15" id="fle15" style="display: none;">
            <img src="../images/icons/arrow.png" alt="">
        </div>

        <div class="fle16" id="fle16" style="display: none;">
            <img src="../images/icons/arrow3.png" alt="">
        </div>

        <div class="fle17" id="fle17" style="display: none;">
            <img src="../images/icons/arrow3.png" alt="">
        </div>

    </div>

    <div class="fot-content">
        <div class="his">
            <img src="../images/interfaz/full5.png" alt="">
            <p>Secure Shell</p>
        </div>

        <div class="not">
            <p>VT100</p>
        </div>

        <div class="can">
            <p>Zmodem</p>
        </div>

        <div class="can">
            <input type="checkbox">
            <p>ZOC2408_01.log</p>
        </div>

        <div class="end-3">
            <button onclick="location.href='../../menus/menuSales.html'">SALIR DE LA SIMULACIÓN</button>
        </div>
    </div>

    <div class="alert-flotante" id="alert-flotante" style="bottom: 50px;">
        <div class="etb-flotant etb-flotant-login" id="etb-flotant" style="bottom: 50px;">
            <img src="../images/icons/ETB.svg" alt="">
        </div>
        <div class="mensaje-parlante msg-parl-log" id="mensaje-parlante" style="bottom: 50px;">
            <p id="text-msg-hab">
                <div class="lds-ellipsis" id="wait-text"><div></div><div></div><div></div><div></div></div>
            </p>
        </div>
        <div class="con-close-alert" onclick="ocultarHablador()">
            <img src="../images/icons/cross_small.svg" alt="">
        </div>
    </div>

    <script src="../bootstrap/jquery.js"></script>
    <script src="../bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../bootstrap/typed.js"></script>
    <script src="../../Controller/interfaz/zoc3.js"></script>
    <script src="../../Controller/main/hablador.js"></script>

    <script>
        $( document ).ready(function() {
            habladorText('Para ingresar a la configuración de login, selecciona la central M320_CENTRO2 y da click en el boton “Edit”')
        });
    </script>

</body>
</html>