.usuario{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: 50px;
    
}
.usuario label{
    color: #F36F31;
    font-weight: bold;
    display: block;
}
.usuario span{
    color: #0077C6;
    margin-bottom: 10px;
}
.line{
    padding: 0.5px;
    width: 97%;
    background-color: #F36F31;
    margin-top: 10px;
}
.btn-recurrente{
    padding: 10px 40px;
    border: 1px solid #F36F31;
    border-radius: 5px;
    color: #000;
    font-size: 13px;
    font-weight: bold;
}
.recurrente label{
    color: #F36F31;
    font-size: 10px;
    position: relative;
    top: -42px;
    left: 22px;
}
.usuario .solicitante{
    color: #F36F31;
}
.main-pqr{
    display: grid;
    grid-column: 2/3;  
    grid-row: 3/4;
}
.usuario input[type="text"],input[type="number"] {
    border: 1px solid #0077C6;
    width: 100%;
}
.usuario span select{
    display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 2px 10px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #ffffff;
	color: #0077C6;
	font-size: 1em;
	color: #0077C6;
	border:1px solid #0077C6;
    border-radius: 3px;
    position: relative;
    transition: all 0.25s ease
}
.usuario textarea{
    width: 100%;
    padding: 15px 10px;
    color: #0077C6;
    font-size: 16px;
    border: 1px solid #0077C6;
    border-radius: 3px;
    outline: 0px;
}
.con-btn-adj label{
    color: white;
    background-color: var(--orange-etb);
    border-radius: 9px;
    border-style: outset;
    padding: 5px 12px;
    margin-bottom: 20px;
    cursor: pointer;
}
.table-solui2{
    border-radius: 10px;
    border: 2px solid var(--bs-orange);
    position: relative;
    overflow-y: scroll;
    margin-bottom: 20px;
    width: 770px;
    height: 200px;
}
#btn-solucion3{
    left: 700px;
    top: 20px;
    position: relative;
    width: 100px;
    height: 50px;
    align-items: center;
    display: grid;
    background: #FF5E00;
}
.btn_clasic {
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 12px;
    background-color: var(--blue-os-etb);
    color: white;
}

#modal-visita .modal-dialog{
    display: flex;
    justify-content: center;
}
#modal-visita .modal-title{
    width: 100%;
    text-align: center;
    color: #1285B6;
}
#modal-visita .modal-footer{
    border: 0px solid;
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

#modal-visita .modal-footer button{
    background: #f26821;
    color: white;
    border: none;
}
#modal-visita .modal-body .content-modal  label{
    color: #F36F31;
    font-weight: bold;
    display: block;
}
.descrip-pqr label{
    color: #F36F31;
    font-weight: bold;
}
.descrip-pqr p{
    color: #0077C6;
    font-weight: bold;
}
.content-modal{
    padding: 20px;
}
.content-modal span select{
    display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 2px 10px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #ffffff;
	color: #0077C6;
	font-size: 1em;
	color: #0077C6;
	border:1px solid #0077C6;
    border-radius: 3px;
    position: relative;
    transition: all 0.25s ease;
    margin-bottom: 15px;
}
.content-modal span input{
    color: #0077C6;
    border: 1px solid #0077C6;
    width: 178px;
}
.content-modal .select-relacion select{
    width: 135px;
}
.content-modal textarea{
    width: 100%;
    padding: 15px 10px;
    color: #0077C6;
    font-size: 16px;
    border: 1px solid #0077C6;
    border-radius: 3px;
    outline: 0px;
}
.content-modal .solicitante-search{
    border: 1px solid #f26821;
    width: 376px;
    color: #0077C6;
    padding: 2px 10px;
    outline: 0;
    cursor: pointer;
}
#search{
    background: #11A1D8;
    border: 1px solid #0077C6;
    border-radius: 2px;
}
.content-modal button:hover{
    background: #054a79;
    transition: all ease 1s;
}
.content-modal button i{
    color: #ffffff;
    
}
.table-search{
    border: 1px solid #0000004d;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
.content-table-search{
    border: 1px solid #11A1D8;
}
.crear-pqr{
    margin-top: 10px;
    background-color: #f26821;
    color: #fff;
    padding: 3px;
    border: none;
    border-radius: 3px;
    width: 55px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.info-repor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20px 50px 20px 35px;
}
on-btn-adj{
    display: grid;
    justify-content: flex-end;
    grid-template-rows: 35px;
}
.con-btn-adj label{
    color: white;
    background-color: var(--orange-etb);
    border-radius: 9px;
    border-style: outset;
    padding: 5px 12px;
}
.info-u{
    display: grid;
    grid-template-columns: 350px 300px;
    row-gap: 7px;
    column-gap: 50px;
    padding: 10px 80px;
}
.header-p .info-u{
    display: grid;
    grid-template-columns: 350px 300px;
    row-gap: 7px;
    column-gap: 50px;
    padding: 10px 80px;
}
#modal-soluic3 .modal-content{
    background-color: white;
    width: 50%;
    height: 85%;
    position: fixed;
    top: 80px;
    z-index: 2000;
    left: 450px;
    overflow-x: hidden;
    border-radius: 10px;
    border: 2px solid var(--bs-orange);
}
.info-u label{
    color: var(--orange-etb);
    font-weight: 700;
    font-size: 15px;
}
 .info-u p{
    margin: 0px;
    font-weight: 650;
    color: #0077C6;
    font-size: 14px;
}
.info-repor textarea, .info-repor input{
    border: 2px solid var(--orange-etb);
    border-radius: 8px;
}
.info-repor select{
    border: 2px solid #0077C6;
    color: #0077C6;
    border-radius: 8px;
}
.info-repor #ages{
    height: 30px;
    width: 480px;
    position: relative;
    border: 2px solid var(--orange-etb);
    color: var(--blue-os-etb);
    border-radius: 8px;
    margin-bottom: 10px;
    right: 160px;
}
.info-repor #ages2{
    height: 30px;
    width: 480px;
    position: relative;
    border: 2px solid var(--orange-etb);
    color: var(--blue-os-etb);
    border-radius: 8px;
    margin-bottom: 10px;
    right: 160px;
}
.info-repor #ages3{
    height: 30px;
    width: 480px;
    position: relative;
    border: 2px solid var(--orange-etb);
    color: var(--blue-os-etb);
    border-radius: 8px;
    margin-bottom: 10px;
    right: 160px;
}
.info-repor #ages4{
    height: 30px;
    width: 480px;
    position: relative;
    border: 2px solid var(--orange-etb);
    color: var(--blue-os-etb);
    border-radius: 8px;
    margin-bottom: 10px;
    right: 160px;
}
.info-repor #ages5{
    height: 30px;
    width: 480px;
    position: relative;
    border: 2px solid var(--orange-etb);
    color: var(--blue-os-etb);
    border-radius: 8px;
    margin-bottom: 10px;
    right: 160px;
}
.info-repor #des2{
    position: relative;
    right: 160px;
    margin-top: 10px;
    width: 480px;
}
.info-repor ul{
    justify-content: space-between;
    position: relative;
    left: 95%;
}
.info-repor .label{
    margin-top: 5px;
    margin-right: 50px;
    position: relative;
    right: 55%;
    top: 28px;
}
.info-repor .label2{
    height: 30px;
    width: 440px;
    position: relative;
    border: 2px solid var(--orange-etb);
    color: var(--blue-os-etb);
    border-radius: 8px;
    margin-bottom: 10px;
    right: 160px;
}
.info-repor .label-2{
    margin-top: 5px;
    margin-right: 50px;
    position: relative;
    right: 80%;
    top: 28px;
}
.info-repor #des{
    bottom: 50px;
    position: relative;
}
.info-repor #tipoDocumento, #numeroDocumento, #nombres, #apellidos, #telefonoFijo, #celular, #email, #direccion{
    position: relative;
    margin-top: 10px;
    width: 440px;
    height: 35px;
    bottom: 10px;
}
.info-repor #autorizacionDatos{
    height: 30px;
    width: 440px;
    position: relative;
    border: 2px solid var(--orange-etb);
    color: var(--blue-os-etb);
    border-radius: 8px;
    margin-bottom: 10px;
}
#modal-soluic3 .modal-content {
    background-color: white;
    width: 50%;
    height: 85%;
    position: fixed;
    top: 80px;
    z-index: 2000;
    left: 450px;
    overflow-x: hidden;
    border-radius: 10px;
    border: 2px solid var(--bs-orange);
}
#btn-solucion4 {
    left: 100px;
    top: 620px;
    position: relative;
    width: 100px;
    height: 50px;
    align-items: center;
    display: grid;
    background: #00A7CC;
}
#btn-solucion5 {
    left: 740px;
    top: 570px;
    position: relative;
    width: 100px;
    height: 50px;
    align-items: center;
    display: grid;
    background: #00A7CC;
}