.contedor-portal form{
    display: grid;
    grid-template-columns: 80% 20%;
}
.con-funtion-fil{
    display: grid;
    row-gap: 10px;
    justify-content: center;
}
.con-filtros{
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-auto-rows: 30px;
    column-gap: 25px;
    row-gap: 25px;
    margin-bottom: 50px;
    width: 80%;
}

.con-filtros .i{
    width: 30px;
    height: 30px;
}

.datos{
    margin-top: 70px;
}
.content-item-info label{
    color: #F36F31;
    font-weight: bold;
    /* float: right;
    right: 380px; */
    /* float: right;
    right: 380px; */
    position: relative;
}
.content-item-info span{
    color: #0077C6;
    margin-bottom: 10px;
}
.content-item-info button{
    background: #11A1D8;
    padding: 3px 5px;
    border: 2px solid transparent;
    color: #FFFFFF;
    margin-right: 15px;
    margin-right: 15px;
}
.content-item-info select{
    display: inline-block;
	width: 100px;
	cursor: pointer;
  	padding: 2px 10px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #ffffff;
	color: #3f3f3f;
	font-size: 1em;
	color: #4d4d4d;
	border:1px solid #00000049;
    border-radius: 3px;
    position: relative;
    transition: all 0.25s ease
}
.oculto{
    background: #fff; 
    margin-right: 300px;
    top: 380px;
    position: absolute;
}
.eye-color{
    color:#F36F31;
}
.content-info{    
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 0 0 0 50px;
}
.table-product{
    width: 100%;
    display: grid;
    grid-template-columns: 1;
}
.content-soport-fact{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.content-soport-fact .content-soport{
    height: 150px;
}
.content-soport-fact .content-soport .content-soport-sop{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.content-fact{
    height: 590px;
}
.content-soport-fact .content-fact-fac{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:"item-1 item-2"
                        "item-1 item-3"
                        "item-4 item-5";
}
.content-soport-fact .content-fact-fac .item-1{
    grid-area: item-1;
}
.content-soport-fact .content-fact-fac .item-2{
    grid-area: item-2;
}
.content-soport-fact .content-fact-fac .item-3{
    grid-area: item-3;
}
.content-soport-fact .content-fact-fac .item-4{
    grid-area: item-4;
}
.content-soport-fact .content-fact-fac .item-5{
    grid-area: item-5;
}
.barra-busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.barra-busqueda label {
    width: 60px;
    margin-right: 10px;
}
.barra-busqueda input {
    width: 200px;
    border: 1px solid #ccc;
}
.content-modal .con-table .table-general{
    margin-top: 15px;
}
.content-modal .con-table .table-general tr th{
    height: 30px;
}

#modal-actualizar{
    background: #00000049;
}
#modal-actualizar .modal-lg{
    width: 450px;
}
#modal-actualizar .modal-header{
    background: #11A1D8;
}
#modal-actualizar .modal-header .modal-title{
    color: #fff;
    justify-content: left !important;
}
#modal-actualizar .modal-lg .modal-content{
    height: 450px;
}
#modal-actualizar .editar-contact{
    padding: 15px;
}
#modal-actualizar .editar-contact span select{
    display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 2px 10px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #ffffff;
	color: #0077C6;
	font-size: 1em;
	color: #0077C6;
	border:1px solid #0077C6;
    border-radius: 3px;
    position: relative;
    transition: all 0.25s ease;
    margin-bottom: 10px;
}
#modal-actualizar .editar-contact label{
    color: #F36F31;
    font-weight: bold;
    display: block;
}
#modal-actualizar .editar-contact input{
    width: 100%;
    border: 1px solid #0077C6;
    color: #0077C6;
    border-radius: 3px;
    margin-bottom: 10px;
}
.autorizacion{
    text-align: right;
}
#modal-actualizar .editar-contact .modal-footer .btn-guardar{
    background: #F36F31;
    border: 1px solid #00000049;
    text-align: left;
    margin-right: 200px;
    padding: 6px;
    border-radius: 4px;
    color: #fff;
}
#modal-actualizar .editar-contact .modal-footer .btn-guardar:hover{
    background: #b14d1f;
    border: 1px solid #00000049;
    transition: all 0.25s ease;
}
#modal-actualizar .editar-contact .modal-footer .btn-cancelar{
    background: #11A1D8;
    border: 1px solid #00000049;
    margin-left: 20px;
}
#modal-actualizar .editar-contact .modal-footer .btn-cancelar:hover{
    background: #0f6283;
    transition: all 0.25s ease;
}
.items-info2{
    border: 3px solid var(--orange-etb);
    border-radius: 25px;
    position: relative;
}
.con-it-o2{
    width: 100%;
    display: grid;
    justify-items: center;
}
.con-bundle2{
    grid-column: 1/3;
    display: grid ;
    justify-content: center;
}
.bundle2{
    width: 253px;
    height: 368px;
    margin-top: 30px;
    margin-bottom: 20px;
    overflow-y: hidden;
}
.header-b{
    background: #f26821;
    text-align: center;
}
.header-b p{
    font-size: 26px;
    color: white;
}
.header-b .f-h-b{
    font-size: 19px;
}
.service{
    border: 1px solid #20A4CB;
}
.service .header-serv{
    background: #20A4CB;
    color: white;
    text-align: center;
    height: 25px;
}
.list-s-l{
    height: 150px;
    overflow-y: scroll;
}
.list-s ul li{
    color: #20A4CB;
}
li span{
    color: #f26821;
}
.header-serv{
    cursor: pointer;
}
.body-items-inf {
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 32px;
    display: grid;
    row-gap: 10px;
}
