.con-sp-n{
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: 80px;
    padding: 130px 50px 50px 50px;
}
.header-p{
    border-bottom: 1px solid #5e6f7e55;
}
.header-p .info-u{
    display: grid;
    grid-template-columns: 350px 300px;
    row-gap: 7px;
    column-gap: 50px;
    padding: 10px 80px;
}
.info-u label{
    color: var(--orange-etb);
    font-weight: 700;
    font-size: 15px;
}
 .info-u p{
    margin: 0px;
    font-weight: 650;
    color: #0077C6;
    font-size: 14px;
}
.content-p{
    padding: 40px 40px;
}
.content-p h4{
    color: var(--orange-etb);
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 40px;
}
.btn_clasic{
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 12px;
    background-color: var(--blue-os-etb);
    color: white;
}   

.btn_orage_bg{
    background-color: var(--orange-etb);
}
#con-sopo-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 25px;
    row-gap: 10px;
}
#con-sopo-info p{
    margin: 0px;
    height: 100%;
}
.con-tree-colms{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
}
.con-tree-colms .items-actions-soporte{
    grid-column: 1/4;
    border-top: 1px solid #0000004d;
    padding-top: 20px;
    grid-template-columns: 100px 40px 50px;
    column-gap: 10px;
    justify-content: flex-end;
    grid-template-rows: 40px;
    position: relative;
}
.info__sem{
    display: flex;
    justify-content: space-between;
}
.con-tree-colms .con-table{
    margin: 0px;
}
.con-tree-colms .six__actions{
    grid-template-columns: 160px 40px 1fr 110px 40px 50px;
}
.con-tree-colms .seven__actions{
    grid-template-columns: 160px 40px 1fr 110px 40px 110px 40px 50px;
}
.items__actions_four{
    display: grid;
    grid-template-columns: 110px 40px 110px 40px 50px !important;
}
.table-sopor-logs tr th{
    background: transparent;
    color: black;
    border: none !important;
    border-bottom: 2px solid #0077C6 !important;
}
.table-sopor-logs tbody tr td{
    border: none !important;
    border-bottom: 2px solid #0077C6 !important;
}
.content-p{
    overflow-y: hidden;
    margin: 0 10px;
}
.recomendador{
    width: 100% !important;    
    height: 700px;
}
#modal-flujo #modal-dialog-flujo{
    max-width: none !important;
    width: 800px;
    margin-left: 300px !important;
    cursor: pointer;
}
#btn-close-flujo{
    background-color: var(--orange-etb);
    color: white !important;
    justify-content: flex-start !important;
}
#btn-close-flujo h1{
    color: white !important;
    margin-top: 20px;
}
.modal-dialog-exito-s{
    display: grid !important;
    align-items: flex-end !important;
}
.modal-dialog-exito-s2{
    display: grid;
}
#modal-soluic .modal-content{
    background-color: white; 
    width: calc(100vw - 345px); 
    height: 560px; 
    position: fixed; 
    top: 60px; 
    z-index: 2000; 
    left: 255px; 
    border: 2px solid var(--orange-etb); 
    border-radius: 10px;
}
#content-soluic{
    background-color: white;
    width: calc(100vw - 345px);
    height: 520px;
    position: fixed;
    top: 80px;
    z-index: 2000;
    left: 255px;
    display: none;
    border: 2px solid var(--orange-etb);
    border-radius: 10px;
}
#modal-soluic2 .modal-content{
    background-color: white;
    width: 52%;
    height: 98%;
    position: fixed;
    top: 10px;
    z-index: 2000;
    left: 450px;
    overflow-x: hidden;
    border-radius: 10px;
}
#modal-soluic3 .modal-content{
    background-color: white;
    width: 50%;
    height: 85%;
    position: fixed;
    top: 80px;
    z-index: 2000;
    left: 450px;
    overflow-x: hidden;
    border-radius: 10px;
    border: 2px solid var(--bs-orange);
}
#modal-soluic33 .modal-content{
    background-color: white;
    width: 50%;
    height: 85%;
    position: fixed;
    top: 80px;
    z-index: 2000;
    left: 450px;
    overflow-x: hidden;
    border-radius: 10px;
    border: 2px solid var(--bs-orange);
}
#modal-soluic4 .modal-content{
    background-color: white;
    width: 50%;
    height: 92%;
    position: fixed;
    top: 55px;
    z-index: 2000;
    left: 480px;
    border-radius: 10px;
    border: 2px solid var(--bs-orange);
}
#modal-soluic5 .modal-content{
    background-color: white;
    width: 52%;
    height: 98%;
    position: fixed;
    top: 10px;
    z-index: 2000;
    left: 450px;
    overflow-x: hidden;
    border-radius: 10px;
    border: 2px solid var(--bs-orange);
}
#modal-info-soluci{
    z-index: 2001 !important;
}
#btn-solucion{
    position: sticky;
    width: 100px;
    align-items: center;
    left: 42%;
    display: grid;
    margin: 10px 0;
}
#btn-solucion2{
    left: 817px;
    top: 630px;
    position: relative;
    width: 100px;
    align-items: center;
    display: grid;
    margin: 10px 0;
}
#btn-solucion22{
    left: 817px;
    top: 630px;
    position: relative;
    width: 100px;
    align-items: center;
    display: grid;
    margin: 10px 0;
}
#btn-solucion222{
    left: 182px;
    top: 770px;
    position: relative;
    width: 100px;
    align-items: center;
    display: grid;
    margin: 10px 0;
}
#btn-solucion2222{
    left: 716px;
    top: 70px;
    position: relative;
    width: 100px;
    align-items: center;
    display: inline-block;
    margin: 10px 0;
}
#btn-solucion22222{
    left: 817px;
    top: 130px;
    position: relative;
    width: 100px;
    align-items: center;
    display: grid;
    margin: 10px 0;
}
#btn-solucion3{
    left: 700px;
    top: 20px;
    position: relative;
    width: 100px;
    height: 50px;
    align-items: center;
    display: grid;
    background: #FF5E00;
}
#btn-solucion33{
    left: 700px;
    top: 20px;
    position: relative;
    width: 100px;
    height: 50px;
    align-items: center;
    display: grid;
    background: #FF5E00;
}
#btn-solucion4{
    left: 100px;
    top: 620px;
    position: relative;
    width: 100px;
    height: 50px;
    align-items: center;
    display: grid;
    background: #00A7CC;
}
#btn-solucion5{
    left: 740px;
    top: 570px;
    position: relative;
    width: 100px;
    height: 50px;
    align-items: center;
    display: grid;
    background: #00A7CC;
}
#btn-solucion6{
    left: 817px;
    top: 630px;
    position: relative;
    width: 100px;
    align-items: center;
    display: grid;
    margin: 10px 0;
}
.info-u{
    display: grid;
    grid-template-columns: 350px 300px;
    row-gap: 7px;
    column-gap: 50px;
    padding: 10px 80px;
}
.info-repor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20px 50px 20px 35px;
}
on-btn-adj{
    display: grid;
    justify-content: flex-end;
    grid-template-rows: 35px;
}
.con-btn-adj label{
    color: white;
    background-color: var(--orange-etb);
    border-radius: 9px;
    border-style: outset;
    padding: 5px 12px;
}
.info-repor textarea, .info-repor input{
    border: 2px solid var(--orange-etb);
    border-radius: 8px;
}
.info-repor select{
    border: 2px solid #0077C6;
    color: #0077C6;
    border-radius: 8px;
}
.info-repor #ages{
    height: 30px;
    width: 500px;
    position: relative;
    border: 2px solid var(--orange-etb);
    color: var(--blue-os-etb);
    border-radius: 8px;
    margin-bottom: 10px;
    right: 240px;
}
.info-repor #ages2{
    height: 30px;
    width: 500px;
    position: relative;
    border: 2px solid var(--orange-etb);
    color: var(--blue-os-etb);
    border-radius: 8px;
    margin-bottom: 10px;
    right: 240px;
}
.info-repor #ages3{
    height: 30px;
    width: 500px;
    position: relative;
    border: 2px solid var(--orange-etb);
    color: var(--blue-os-etb);
    border-radius: 8px;
    margin-bottom: 10px;
    right: 240px;
}
.info-repor #ages4{
    height: 30px;
    width: 500px;
    position: relative;
    border: 2px solid var(--orange-etb);
    color: var(--blue-os-etb);
    border-radius: 8px;
    margin-bottom: 10px;
    right: 240px;
}
.info-repor #ages5{
    height: 30px;
    width: 500px;
    position: relative;
    border: 2px solid var(--orange-etb);
    color: var(--blue-os-etb);
    border-radius: 8px;
    margin-bottom: 10px;
    right: 240px;
}
.info-repor #des2{
    position: relative;
    right: 240px;
    margin-top: 10px;
    width: 500px;
}
.info-repor ul{
    justify-content: space-between;
    position: relative;
    left: 95%;
}
.info-repor .label{
    margin-top: 5px;
    margin-right: 50px;
    position: relative;
    right: 75%;
    top: 28px;
}
.info-repor .label2{
    height: 30px;
    width: 500px;
    position: relative;
    border: 2px solid var(--orange-etb);
    color: var(--blue-os-etb);
    border-radius: 8px;
    margin-bottom: 10px;
    right: 240px;;
}
.info-repor .label-2{
    margin-top: 5px;
    margin-right: 50px;
    position: relative;
    right: 80%;
    top: 28px;
}
.info-repor #des{
    bottom: 50px;
    position: relative;
    right: 82%;
}
.info-repor #tipoDocumento, #numeroDocumento, #nombres, #apellidos, #telefonoFijo, #celular, #email, #direccion{
    position: relative;
    right: 160px;
    margin-top: 10px;
    width: 440px;
    height: 35px;
    bottom: 10px;
}
.info-repor .tipoDocumentoCell, .numeroDocumentoCell, .nombresCell, .apellidosCell, .telefonoFijoCell, .celularCell, .emailCell, .direccionCell{
    position: relative;
    right: 160px;
    margin-top: 10px;
    width: 440px;
    height: 35px;
    bottom: 10px;
}
.info-repor #autorizacionDatos{
    height: 30px;
    width: 440px;
    position: relative;
    border: 2px solid var(--bs-orange);
    color: var(--blue-os-etb);
    border-radius: 8px;
    margin-bottom: 10px;
    right: 160px;
}
.table-solui{
    padding: 25px 80px !important;
}
.table-solui2{
    width: 875px;
    padding: 25px 80px !important;
    border-radius: 10px;
    border: 2px solid var(--bs-orange);
    position: relative;
    right: 600px;
    top: 800px;
    height: 200px;
    margin-bottom: 20px;
    overflow-y: scroll;
}