@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');

:root{
    --color-tematico: #17202A;
    --orange-etb: #F36F31;
    --blue-os-etb: #008AA6;
    --gray-etb: #5e6f7e;
    --withe-etb: #fff;
    --bc-etb: #121212;
}
.container-genre{ 
    display: grid;
    justify-items: center;
}
.img-audio{
    width: 40px;
    animation-name: animacionAudio;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    cursor: pointer;
}
#img-info-dia{
    width: 40px;
    animation-name: animacionAudio;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    cursor: pointer;
}
.img-audio:hover{
    transform: scale(1.1);
}
#modal-fase{
    text-align: center;
}
@keyframes animacionAudio {
    0%{
        rotate: 0deg;
        transform: scale(1);
    }
    25%{
        rotate: 5deg;
        transform: scale(1.025);
    }
    50%{
        rotate: 10deg;
        transform: scale(1.05);
    }
    75%{
        rotate: 5deg;
        transform: scale(1.025);
    }
    100%{
        rotate: 0deg;
        transform: scale(1);
    }
}
#no-audio-f{
    animation: none;
    cursor: auto;
}
#no-audio-f:hover{
    transform: scale(1);
}

.container-genre{
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    min-width: 290px;
}
.con-info-audios{
    background: var(--orange-etb);
    display: grid;
    grid-template-columns: 60px 1fr;
    width: 100%;
    height: 65px;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 15px;
}
#plant-parl{
    background: var(--blue-os-etb);
    display: grid;
    grid-template-columns: 60px 1fr;
    width: 100%;
    height: 65px;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 15px;
}
.con-info-audios p{
    width: 100%;
    padding: 0px;
    margin: 0px;
    color: var(--withe-etb);
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-align: left;
}
.con-info-audios .con-img-au{
    display: grid;
    justify-content: center;
}
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }

}
.con-img-au{
    height: 40px;
    animation: shake 2s infinite;
}
.header{
    background: var(--blue-os-etb);
    width: 100%;
    height: 55px;
    display: grid;
    grid-template-columns: 1fr 40px 40px;
    justify-content: center;
    align-items: center;
}
#plant-info{
    background: var(--orange-etb);
    width: 100%;
    height: 55px;
    display: grid;
    grid-template-columns: 1fr 40px 40px;
    justify-content: center;
    align-items: center;
}  
.header .volver-header, .header .text-header-ac{
    display: none;
}
.header-act {
    grid-template-columns: 40px 1fr 40px 40px;
}
.header-act .volver-header, .header-act .text-header-ac{
    display: block;
}
.header-act .text-header{
    display: none;
}
.text-header, .text-header-ac{
    color: white;
    font-size: 17px;
    display: grid;
    justify-content: center;
    text-align: center;
}
.text-header span{
    font-size: 15px;
    padding-left: 100px;
    font-weight: 600;
}
.header img{
    height: 30px;
}
.actions-h{
    width: 100%;
    background-color: var(--withe-etb);
    height: 35px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 150px 80px 30px;
    padding-left: 75px;
    padding-top: 15px;
    column-gap: 20px;
}
#plant-action a{
    color: var(--blue-os-etb);
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
} 
.actions-h a{
    color: var(--orange-etb);
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}
.actions-h img{
    width: 25px;
}
#select-header{
    border: none;
    color: #3890C3;
    font-weight: 550;
    background: none;
}
#btn-actividad-h{
    display: none;
}
.modal .modal-title{
    width: 100%;
    text-align: center;
    color: #1285B6;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
/* Modal succes */
.modal-loading{
    z-index: 893748;
}
.modal-susc .modal-dialog, .modal-loading .modal-dialog{
    display: flex;
    justify-content: center;
}
.modal-susc .modal-content{
    width: 320px;
}
.modal-susc .modal-title, .modal-loading .modal-title{
    width: 100%;
    text-align: center;
    color: #1285B6;
}
.modal-susc .modal-footer{
    border: 0px solid;
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
.modal-susc .confirmacion p{
    color: #46b8da;
    font-size: 15px;
    text-align: center;
}
.modal-susc .modal-footer button{
    background: #f26821;
    color: white;
    border: none;
}
#modal2{
    width: 700px;
    height: 40%;
}
#modal4{
    width: 700px;
    height: 55%;
    overflow: hidden;
}
.modal-loading .modal-header{
    padding-left: 5px;
    padding-right: 5px;
}
.modal-loading .modal-title{
    font-size: 20px;
    color: #20a4cb;
    font-weight: bold;
}
.modal-loading .modal-content{
    width: 375px;
}
.modal-loading .modal-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;;
}
#modal-ubi .modal-header{
    padding-left: 5px;
    padding-right: 5px;
}
#modal-ubi .modal-footer{
    justify-content: center;
}
#modal-ubi .modal-footer button{
    background: #F26922;
    border: none;
}

#modal-ubi .modal-body img{
    width: 100%;
}
#stack{
    overflow: hidden;
}
.text-spiner{
    color: #0D78AE;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #20a4cb;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  /* Cambios Hernan */
  .container-struct{
    width: 100%;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
  }
  /* Breaddcump */
  .breadcump{
    /* width: 100%; */
    display: flex;
    background: #C5EBF5;
    height: 48px;
    align-items: center;
    border-radius: 4px;
    color: white;
    overflow-x: hidden;
    margin-top: 20px;
}
.item-bread{
    padding: 0px 20px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
    height: 100%;
    display: grid;
    align-content: center;
    border-right: 3px solid white;
}
.item-bread:nth-child(1){
    background-color: #20A4CB;
    margin-left: -5px;
}
.item-bread:nth-child(2){
    background-color: #20A4CB;
}
.item-bread:nth-child(3){
    background-color: #59C3E3;
}
a{
    text-decoration: none;
    color: white;
}
  /* Breaddcump */
  /* Cambios Hernan */